/*
Error: Invalid CSS after "    }": expected selector or at-rule, was "}"
        on line 50 of _main_slider.scss
        from line 8 of style.scss

45: 	margin-bottom: 25px;
46: 	max-width: 570px;
47:     }
48:      
49: 
50: }
51: 
52: @media screen and (max-width: 1600px) {
53: 
54: }
55: 

Backtrace:
_main_slider.scss:50
style.scss:8
/Users/ulyanashevchenko/.rvm/gems/ruby-2.4.0/gems/sass-3.4.23/lib/sass/scss/parser.rb:1207:in `expected'
/Users/ulyanashevchenko/.rvm/gems/ruby-2.4.0/gems/sass-3.4.23/lib/sass/scss/parser.rb:1137:in `expected'
/Users/ulyanashevchenko/.rvm/gems/ruby-2.4.0/gems/sass-3.4.23/lib/sass/scss/parser.rb:42:in `parse'
/Users/ulyanashevchenko/.rvm/gems/ruby-2.4.0/gems/sass-3.4.23/lib/sass/engine.rb:406:in `_to_tree'
/Users/ulyanashevchenko/.rvm/gems/ruby-2.4.0/gems/sass-3.4.23/lib/sass/engine.rb:312:in `to_tree'
/Users/ulyanashevchenko/.rvm/gems/ruby-2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:326:in `block in visit_import'
/Users/ulyanashevchenko/.rvm/gems/ruby-2.4.0/gems/sass-3.4.23/lib/sass/stack.rb:88:in `block in with_import'
/Users/ulyanashevchenko/.rvm/gems/ruby-2.4.0/gems/sass-3.4.23/lib/sass/stack.rb:115:in `with_frame'
/Users/ulyanashevchenko/.rvm/gems/ruby-2.4.0/gems/sass-3.4.23/lib/sass/stack.rb:88:in `with_import'
/Users/ulyanashevchenko/.rvm/gems/ruby-2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:325:in `visit_import'
/Users/ulyanashevchenko/.rvm/gems/ruby-2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/ulyanashevchenko/.rvm/gems/ruby-2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/Users/ulyanashevchenko/.rvm/gems/ruby-2.4.0/gems/sass-3.4.23/lib/sass/stack.rb:79:in `block in with_base'
/Users/ulyanashevchenko/.rvm/gems/ruby-2.4.0/gems/sass-3.4.23/lib/sass/stack.rb:115:in `with_frame'
/Users/ulyanashevchenko/.rvm/gems/ruby-2.4.0/gems/sass-3.4.23/lib/sass/stack.rb:79:in `with_base'
/Users/ulyanashevchenko/.rvm/gems/ruby-2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `visit'
/Users/ulyanashevchenko/.rvm/gems/ruby-2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/ulyanashevchenko/.rvm/gems/ruby-2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/ulyanashevchenko/.rvm/gems/ruby-2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/ulyanashevchenko/.rvm/gems/ruby-2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:169:in `block in visit_children'
/Users/ulyanashevchenko/.rvm/gems/ruby-2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
/Users/ulyanashevchenko/.rvm/gems/ruby-2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:168:in `visit_children'
/Users/ulyanashevchenko/.rvm/gems/ruby-2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/ulyanashevchenko/.rvm/gems/ruby-2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:188:in `visit_root'
/Users/ulyanashevchenko/.rvm/gems/ruby-2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/ulyanashevchenko/.rvm/gems/ruby-2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:159:in `visit'
/Users/ulyanashevchenko/.rvm/gems/ruby-2.4.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/ulyanashevchenko/.rvm/gems/ruby-2.4.0/gems/sass-3.4.23/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/ulyanashevchenko/.rvm/gems/ruby-2.4.0/gems/sass-3.4.23/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/ulyanashevchenko/.rvm/gems/ruby-2.4.0/gems/sass-3.4.23/lib/sass/engine.rb:381:in `_render_with_sourcemap'
/Users/ulyanashevchenko/.rvm/gems/ruby-2.4.0/gems/sass-3.4.23/lib/sass/engine.rb:298:in `render_with_sourcemap'
/Users/ulyanashevchenko/.rvm/gems/ruby-2.4.0/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/Users/ulyanashevchenko/.rvm/gems/ruby-2.4.0/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/ulyanashevchenko/.rvm/gems/ruby-2.4.0/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:209:in `each'
/Users/ulyanashevchenko/.rvm/gems/ruby-2.4.0/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/ulyanashevchenko/.rvm/gems/ruby-2.4.0/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:473:in `on_file_changed'
/Users/ulyanashevchenko/.rvm/gems/ruby-2.4.0/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:331:in `block in watch'
/Users/ulyanashevchenko/.rvm/gems/ruby-2.4.0/gems/sass-3.4.23/vendor/listen/lib/listen/listener.rb:252:in `on_change'
/Users/ulyanashevchenko/.rvm/gems/ruby-2.4.0/gems/sass-3.4.23/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
/Users/ulyanashevchenko/.rvm/gems/ruby-2.4.0/gems/sass-3.4.23/vendor/listen/lib/listen/adapter.rb:254:in `report_changes'
/Users/ulyanashevchenko/.rvm/gems/ruby-2.4.0/gems/sass-3.4.23/vendor/listen/lib/listen/adapter.rb:323:in `poll_changed_directories'
/Users/ulyanashevchenko/.rvm/gems/ruby-2.4.0/gems/sass-3.4.23/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"    }\": expected selector or at-rule, was \"}\"\A         on line 50 of _main_slider.scss\A         from line 8 of style.scss\A \A 45: 	margin-bottom: 25px;\A 46: 	max-width: 570px;\A 47:     }\A 48:      \A 49: \A 50: }\A 51: \A 52: @media screen and (max-width: 1600px) {\A 53: \A 54: }\A 55: "; }
