@charset "UTF-8";
html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  width: 100%;
  height: 100%;
  position: relative;
  background: #ffffff;
}

a {
  outline: none;
  cursor: pointer;
}

a img {
  border: none;
  cursor: pointer;
}

img {
  vertical-align: bottom;
}

p {
  margin: 0 0 20px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 700;
}

strong, b {
  font-weight: 700;
}

table {
  border: 0;
  border-collapse: collapse;
  border-spacing: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
}

ul li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

hr {
  border: 0;
}

*:focus, *:active {
  outline: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 193%;
  font-weight: 300;
  color: #5c5c5c;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100%;
  display: table;
  background: url(images/site.jpg) center bottom no-repeat;
}

#index .wrapper {
  display: block;
  height: auto;
}

a {
  text-decoration: none;
  color: #1992d1;
  -webkit-transition: color 0.3s ease 0s;
  -moz-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

a:hover {
  text-decoration: underline;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-weight: 500;
  line-height: 130%;
  margin-bottom: 20px;
  color: #0d121f;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

h1, .h1 {
  font-size: 35px;
  letter-spacing: 2px;
  line-height: 130%;
}

h2, .h2 {
  font-size: 30px;
}

h3, .h3 {
  font-size: 25px;
}

h4, .h4 {
  font-size: 21px;
}

h5, .h5 {
  font-size: 18px;
}

h6, .h6 {
  font-size: 16px;
}

@media screen and (max-width: 800px) {
  body {
    font-size: 14px;
    line-height: 180%;
  }

  h1, .h1 {
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 130%;
  }

  h2, .h2 {
    font-size: 25px;
  }

  h3, .h3 {
    font-size: 21px;
  }

  h4, .h4 {
    font-size: 18px;
  }

  h5, .h5 {
    font-size: 16px;
  }
}
@media screen and (max-width: 450px) {
  h1, .h1 {
    font-size: 25px;
    letter-spacing: 0.5px;
    line-height: 130%;
  }

  h2, .h2 {
    font-size: 21px;
  }

  h3, .h3 {
    font-size: 18px;
  }

  h4, .h4 {
    font-size: 16px;
  }
}
.clear {
  content: "";
  display: block;
  clear: both;
}

.button {
  padding: 0 25px 0 30px;
  height: 45px;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  position: relative;
  z-index: 3;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  line-height: 41px;
  font-weight: 400;
  letter-spacing: 0px;
  cursor: pointer;
  color: #1f2b5e;
  border-radius: 6px;
  border: 1px solid #1f2b5e;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.button .arr {
  display: inline-block;
  margin-left: 15px;
  height: 8px;
  width: 12px;
  background: url(images/button_arr.png) no-repeat left -13px;
  text-indent: -1000px;
  overflow: hidden;
  padding-left: 0;
  vertical-align: middle;
}
.button.white {
  border-color: #fff;
  color: #fff;
}
.button.white .arr {
  background-position: left top;
}
.button:hover {
  text-decoration: none;
  background-color: #1992d1;
  border-color: #1992d1;
  color: #fff;
}
.button:hover .arr {
  background-position: left top;
}

@media screen and (max-width: 800px) {
  .button {
    height: 35px;
    line-height: 33px;
    font-size: 12px;
  }
}
@media screen and (max-width: 450px) {
  .button_block {
    text-align: center;
  }
}
.slick-slider {
  position: relative;
  margin: 0 auto;
}
.slick-slider .slick-list {
  margin: 0 0px;
}
.slick-slider .slick-arrow {
  position: absolute;
  top: 50%;
  margin-top: -30px;
  width: 60px;
  height: 60px;
  z-index: 5;
  outline: none;
  cursor: pointer;
  background: #1992d1;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.slick-slider .slick-arrow:before {
  content: '';
  position: absolute;
  width: 17px;
  height: 13px;
  top: 50%;
  left: 50%;
  margin-top: -7px;
  margin-left: -8px;
  background: url(images/arr_middle.png) no-repeat;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.slick-slider .slick-arrow:hover {
  background-color: #f46d05;
}
.slick-slider .slick-prev {
  left: 0px;
}
.slick-slider .slick-prev:before {
  background-position: right top;
}
.slick-slider .slick-next {
  right: 0px;
}
.slick-slider .slick-next:before {
  background-position: left top;
}
.slick-slider ul.slick-dots {
  padding-left: 23px;
}
.slick-slider ul.slick-dots li {
  width: 10px;
  height: 20px;
  line-height: 20px;
  cursor: pointer;
  float: left;
  margin-right: 15px;
  margin-left: 0px;
  list-style-type: decimal-leading-zero;
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 130%;
  color: transparent;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.slick-slider ul.slick-dots li:before {
  content: '';
  display: inline-block;
  vertical-align: 3px;
  width: 6px;
  height: 6px;
  margin-left: -10px;
  background-color: #1992d1;
  border-radius: 3px;
}
.slick-slider ul.slick-dots li.slick-active {
  color: #1992d1;
  margin-right: 5px;
  margin-left: 20px;
  width: 0;
}
.slick-slider ul.slick-dots li.slick-active:before {
  display: none;
}
.slick-slider ul.slick-dots li button {
  display: none;
}

.tabs_container {
  position: relative;
}

.tab {
  height: 0;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease 0s;
  -moz-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.tab.active {
  opacity: 1;
  height: auto;
  overflow: visible;
  padding-top: 8px;
}

.tab_buttons {
  width: 100%;
  left: 0;
  z-index: 5;
  padding-top: 8px;
  margin-bottom: 27px;
}
.tab_buttons .tab_but {
  display: inline-block;
  margin-right: 0px;
  padding: 5px 20px;
  cursor: pointer;
  height: 46px;
  line-height: 36px;
  box-sizing: border-box;
  color: #777777;
  position: relative;
}
.tab_buttons .tab_but a {
  color: #777777;
  margin: -5px -20px;
  padding: 5px 20px;
  display: block;
}
.tab_buttons .tab_but.active {
  background: #ff9600;
  color: #fff;
}
.tab_buttons .tab_but.active:after {
  content: '';
  position: absolute;
  right: -14px;
  top: 0;
  border-top: 23px solid transparent;
  border-left: 15px solid #ff9600;
  border-bottom: 23px solid transparent;
}
.tab_buttons .tab_but.active a {
  color: #fff;
}
.tab_buttons .tab_but.active a:hover {
  text-decoration: none;
}

.main_section {
  overflow: hidden;
  position: relative;
  -webkit-transition: all 0.8s ease 0s;
  -moz-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.in {
  padding: 0px 20px;
  margin: 0 auto;
  max-width: 1560px;
  position: relative;
  -webkit-transition: all 0.8s ease 0s;
  -moz-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}
.in:after {
  content: "";
  display: block;
  clear: both;
}

.fancybox-enabled {
  overflow: auto;
}

.background_video {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  top: 0;
  left: 0;
  overflow: hidden;
}
.background_video:before {
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  background: #000;
  opacity: 0.42;
}
.background_video video {
  background-color: transparent;
  pointer-events: none;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0;
  height: auto;
  width: 100%;
  object-fit: cover;
}

/* start header styles */
#index #header {
  top: 0;
  left: 0;
  background: none;
  border-bottom: 1px solid transparent;
}
#index #header ul.main_menu .active::before {
  display: none;
}

#index #header.scroll:before {
  opacity: 1;
}

#header {
  height: 100px;
  width: 100%;
  position: fixed;
  top: 0;
  color: #fff;
  z-index: 6;
  padding-bottom: 1px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
#header:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: all 0.8s ease 0s;
  -moz-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  background-color: rgba(79, 162, 217, 0.85);
  background: -webkit-linear-gradient(-265deg, rgba(52, 174, 236, 0.85) 0%, rgba(40, 83, 151, 0.85) 100%);
  /* для webkit-браузеров */
  background: -moz-linear-gradient(-265deg, rgba(52, 174, 236, 0.85) 0%, rgba(40, 83, 151, 0.85) 100%);
  /* для firefox 3.6+ */
  background: -o-linear-gradient(-265deg, rgba(52, 174, 236, 0.85) 0%, rgba(40, 83, 151, 0.85) 100%);
  /* для Opera 11.10+ */
  background: -ms-linear-gradient(-265deg, rgba(52, 174, 236, 0.85) 0%, rgba(40, 83, 151, 0.85) 100%);
  /* для IE10+ */
  background: linear-gradient(-5deg, rgba(52, 174, 236, 0.85) 0%, rgba(40, 83, 151, 0.85) 100%);
}
#header.hidden {
  border-bottom-color: transparent;
}
#header.hidden.animated {
  border-bottom-color: #c6c6c6;
}
#header .in {
  padding-top: 26px;
  z-index: 1;
  padding-bottom: 26px;
}
#header #logo {
  margin-right: 48px;
  float: left;
  font-size: 35px;
  color: #fff;
  position: relative;
  z-index: 3;
}
#header #logo a:hover {
  opacity: 0.8;
}
#header nav {
  margin: 0;
  padding: 0;
  text-align: center;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
}
#header a.button {
  float: right;
  margin-left: 52px;
  margin-top: 1px;
  letter-spacing: 0.5px;
  padding: 0 25px;
}

.header_cont {
  float: right;
  font-size: 19px;
  font-weight: 500;
  line-height: 145%;
  margin-top: 9px;
  margin-left: 35px;
  position: relative;
  z-index: 3;
}
.header_cont a {
  color: #fff;
}
.header_cont a:hover {
  text-decoration: none;
  opacity: 0.9;
}

.menu_button_mob {
  display: none;
}

ul.main_menu {
  text-align: justify;
  line-height: 0;
  position: relative;
  padding: 9px 0px 0px;
  font-weight: 500;
}
ul.main_menu:after {
  content: "";
  display: inline-block;
  width: 58%;
}
ul.main_menu > li {
  margin-right: 0;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  line-height: 150%;
  letter-spacing: 0.5px;
  padding: 0px 10px;
  height: 66px;
  overflow: hidden;
}
ul.main_menu a {
  display: inline-block;
  position: relative;
  z-index: 2;
  text-decoration: none;
  color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  vertical-align: middle;
}
ul.main_menu > li.submenu > a:after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 5px;
  top: 34px;
  left: 0;
  z-index: 0;
  margin-left: 5px;
  background: url(images/triangle.png) no-repeat left top;
  margin-right: -9px;
}
ul.main_menu > li.submenu:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 46px;
  top: 20px;
  left: 0;
  z-index: 0;
}
ul.main_menu .active:before {
  border-bottom: 11px solid #fff;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  content: "";
  position: absolute;
  top: 55px;
  left: 50%;
  margin-left: -12px;
}
ul.main_menu ul {
  position: absolute;
  width: 170px;
  padding: 5px 25px;
  background-color: #ddf0ff;
  left: 50%;
  margin-left: -110px;
  top: 66px;
  opacity: 0;
  font-size: 14px;
  line-height: 135%;
  font-weight: 400;
  letter-spacing: 0px;
  z-index: -1;
}
ul.main_menu ul:before {
  border-bottom: 11px solid #ddf0ff;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  content: "";
  position: absolute;
  top: -11px;
  left: 50%;
  margin-left: -12px;
}
ul.main_menu ul > li {
  display: block;
  border-bottom: 1px solid #4fa2d9;
}
ul.main_menu ul > li:last-child {
  border-bottom: 0;
}
ul.main_menu ul a {
  display: block;
  padding: 15px 0px;
  color: #5c5c5c;
}
ul.main_menu ul .active a, ul.main_menu ul a.active, ul.main_menu ul a:hover {
  text-decoration: none;
}
ul.main_menu ul .active a:before, ul.main_menu ul a.active:before, ul.main_menu ul a:hover:before {
  display: none;
}
ul.main_menu > li:hover {
  overflow: visible;
  z-index: 3;
}
ul.main_menu > li:hover ul {
  opacity: 1;
}

@media screen and (max-width: 1600px) {
  #header #logo {
    margin-right: 10px;
  }
  #header a.button {
    margin-left: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .header_cont {
    margin-left: 20px;
  }
}
@media screen and (max-width: 1450px) {
  #header {
    height: 86px;
    padding-top: 0;
  }
  #header .in {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  #header #logo {
    margin-right: 25px;
  }
  #header a.button {
    margin-right: 80px;
    margin-left: 30px;
  }
  #header nav {
    right: 20px;
    top: 20px;
    width: 45px;
    height: 43px;
    position: absolute;
    margin: 0;
    border: 1px solid #fff;
    border-radius: 6px;
  }
  #header nav:hover {
    background: #1992d1;
    border-color: #1992d1;
  }

  .menu_button_mob {
    height: 12px;
    border-bottom: 2px solid #fff;
    border-top: 2px solid #fff;
    display: block;
    width: 28px;
    position: absolute;
    top: 13px;
    left: 8px;
    cursor: pointer;
  }
  .menu_button_mob:after {
    content: '';
    position: absolute;
    z-index: 2;
    height: 2px;
    width: 100%;
    top: 5px;
    left: 0;
    background-color: #fff;
  }
  .menu_button_mob:before {
    content: '';
    position: fixed;
    right: 20px;
    top: 25px;
    width: 40px;
    height: 40px;
    z-index: 1;
  }
  .menu_button_mob.active:before {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  ul.main_menu {
    position: fixed;
    z-index: 3;
    min-width: 245px;
    right: 0px;
    margin-top: 0px;
    top: 86px;
    padding: 5px 0px;
    background-color: #1992d1;
    box-shadow: 0 5px 10px #21618f;
    display: none;
    max-height: 80%;
    overflow: auto;
  }
  ul.main_menu > li {
    display: block;
    height: auto;
    padding: 0 20px;
    margin-bottom: 5px;
    text-align: left;
  }
  ul.main_menu > li:after {
    display: none;
  }
  ul.main_menu a {
    display: block;
    padding: 10px 0 10px;
  }
  ul.main_menu a:before {
    display: block;
    opacity: 0;
  }
  ul.main_menu .active a:before, ul.main_menu a.active:before {
    opacity: 1;
  }
  ul.main_menu ul {
    position: relative;
    top: 0px;
    opacity: 1;
    display: none;
    padding-left: 20px;
    padding-right: 20px;
    width: 180px;
    margin-top: 10px;
  }
  ul.main_menu ul:before {
    left: 40px;
    margin-left: 0;
  }
  ul.main_menu > li:hover ul {
    top: 0px;
  }
}
@media screen and (max-width: 800px) {
  #header {
    height: 75px;
  }
  #header #logo img {
    height: 35px;
  }
  #header a.button {
    margin-right: 60px;
    margin-left: 20px;
  }
  #header nav {
    right: 20px;
    top: 20px;
    width: 35px;
    height: 33px;
  }
  #header ul.main_menu {
    top: 75px;
  }

  .header_cont {
    font-size: 16px;
    margin-top: 7px;
  }

  .menu_button_mob {
    width: 23px;
    top: 9px;
    left: 6px;
  }
  .menu_button_mob:after {
    top: 5px;
  }
}
@media screen and (max-width: 600px) {
  #header a.button {
    display: none;
  }

  .header_cont {
    font-size: 16px;
    margin-top: 7px;
    margin-right: 60px;
  }
}
@media screen and (max-width: 450px) {
  #header {
    height: 65px;
  }
  #header .in {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  #header #logo {
    width: 40px;
    overflow: hidden;
  }
  #header nav {
    top: 15px;
  }
  #header ul.main_menu {
    top: 65px;
  }
}
/* end header styles */
/* start footer styles */
#pre_foo {
  display: table-row;
  height: 100%;
}

#index footer {
  border-top: 0;
}

footer {
  width: 100%;
  bottom: 0;
  left: 0;
  position: relative;
  display: block;
  background: #2d7bbd url(images/footer.jpg) center top no-repeat;
  background-size: auto;
  box-sizing: border-box;
  position: relative;
  clear: both;
}
footer:after {
  content: '';
  position: absolute;
  display: block;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #2d7bbd url(images/footer_bg.jpg) no-repeat center top/auto 100%;
}
footer .in {
  padding: 38px 20px 15px;
  font-size: 14px;
  line-height: 145%;
  font-weight: 400;
  color: #fff;
  z-index: 1;
}
footer .in:after {
  content: "";
  display: block;
  clear: both;
}
footer .h5 {
  color: #fff;
  margin-bottom: 12px;
  letter-spacing: 1px;
}
footer a {
  color: #fff;
}
footer a:hover {
  text-decoration: underline;
}
footer .foo_left {
  float: left;
  width: 23.39744%;
  box-sizing: border-box;
  padding-right: 60px;
  padding-bottom: 7px;
}
footer .foo_left p {
  margin-bottom: 15px;
}
footer #foo_logo {
  margin-bottom: 15px;
  margin-top: 5px;
}
footer .foo_right {
  float: right;
  width: 42.94872%;
  margin-left: 20px;
}
footer .foo_cont {
  margin-bottom: 17px;
}
footer .foo_cont:last-child {
  margin-bottom: 0;
}
footer .foo_cont .cont {
  display: inline-block;
  vertical-align: top;
  width: 30%;
  margin-bottom: 15px;
}
footer .foo_cont .cont:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 37px;
  height: 37px;
  border: 1px solid #fff;
  border-radius: 7px;
  margin-right: 5px;
  background: url(images/icon_address.png) no-repeat center;
}
footer .foo_cont .cont p, footer .foo_cont .cont a, footer .foo_cont .cont span {
  display: inline-block;
  vertical-align: middle;
  max-width: calc(100% - 50px);
  margin-bottom: 0;
}
footer .foo_cont .address {
  width: 37%;
}
footer .foo_cont .tel:before {
  background-image: url(images/icon_tel.png);
}
footer .foo_cont .email:before {
  background-image: url(images/icon_email.png);
}
footer .foo_menu {
  display: inline-block;
  vertical-align: top;
  width: 13%;
  position: relative;
}
footer .foo_menu a {
  display: inline-block;
  border-bottom: 1px solid transparent;
}
footer .foo_menu > ul {
  padding-top: 29px;
}
footer .foo_menu > ul li {
  margin: 0 0 11px;
}
footer .foo_menu.foo_main_menu {
  width: 19%;
}
footer .foo_menu.foo_main_menu ul {
  column-count: 2;
  column-gap: 0px;
}
footer .foo_bottom {
  clear: both;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  padding-top: 16px;
}
footer #copy {
  float: left;
  clear: both;
  padding-top: 5px;
}
footer #dev {
  float: right;
  padding-right: 25px;
}
footer .social {
  margin-bottom: 15px;
}
footer .social a {
  position: relative;
  display: inline-block;
  margin: 0 8px 0 5px;
}
footer .social a img {
  position: relative;
  -webkit-transition: opacity 0.3s ease 0s;
  -moz-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
  opacity: 0.6;
}
footer .social a:hover img {
  opacity: 1;
}

@media screen and (max-width: 1600px) {
  footer .foo_left {
    width: 23.39744%;
    padding-right: 20px;
  }
  footer .foo_right {
    width: 39.74359%;
    margin-left: 0px;
  }
  footer .foo_cont {
    margin-bottom: 17px;
    display: inline-block;
    vertical-align: top;
    width: 53%;
  }
  footer .foo_cont:last-child {
    width: 46%;
  }
  footer .foo_cont .cont {
    width: 100%;
    max-width: 250px;
  }
  footer .foo_cont .address {
    width: 100%;
  }
  footer .foo_menu {
    width: 15%;
  }
  footer .foo_menu.foo_main_menu {
    width: 21%;
  }
}
@media screen and (max-width: 1300px) {
  footer .foo_left {
    width: 25.64103%;
    padding-right: 20px;
    margin-right: 0px;
  }
  footer .foo_right {
    width: 48.71795%;
    margin-left: 0px;
  }
  footer .foo_menu {
    display: none;
  }
  footer .foo_menu.foo_main_menu {
    width: auto;
    display: block;
  }
}
@media screen and (max-width: 1000px) {
  footer .foo_left {
    width: 260px;
    padding-right: 0;
  }
  footer .foo_left p {
    display: none;
  }
  footer #foo_logo {
    float: left;
    margin-right: 20px;
    margin-top: -5px;
  }
  footer #foo_logo img {
    height: 35px;
  }
  footer .social {
    padding-top: 0px;
  }
  footer .foo_right {
    width: 64.10256%;
    margin-left: 0px;
  }
  footer .foo_middle {
    clear: left;
  }
  footer .foo_menu {
    display: none;
  }
  footer .foo_menu .h5 {
    display: none;
  }
  footer .foo_menu ul {
    padding-top: 0;
  }
  footer .foo_menu.foo_main_menu {
    width: auto;
    display: block;
  }
}
@media screen and (max-width: 800px) {
  footer .foo_right {
    width: 38.46154%;
    margin-left: 0px;
  }
  footer .foo_cont {
    width: auto;
  }
  footer .foo_cont:first-child {
    display: none;
  }
  footer .foo_cont:last-child {
    width: auto;
  }
}
@media screen and (max-width: 600px) {
  footer .in {
    font-size: 12px;
    line-height: 145%;
  }
  footer .foo_left {
    width: 180px;
  }
  footer #foo_logo {
    float: none;
  }
  footer .foo_right {
    width: 48.07692%;
  }
  footer .foo_cont .cont:before {
    width: 27px;
    height: 27px;
    border-radius: 5px;
  }
  footer .foo_bottom {
    text-align: center;
  }
  footer #copy {
    float: none;
    padding-top: 0px;
    margin-bottom: 15px;
  }
  footer #dev {
    float: none;
    padding-right: 0px;
  }
}
@media screen and (max-width: 450px) {
  footer .foo_left {
    width: auto;
    text-align: center;
    float: none;
  }
  footer #foo_logo {
    float: none;
  }
  footer .foo_right {
    width: auto;
    float: none;
    text-align: center;
  }
  footer .foo_cont .cont {
    width: 190px;
    text-align: left;
    margin-left: 20px;
    margin-right: 0px;
  }
  footer .foo_menu.foo_main_menu {
    display: none;
  }
}
/* end footer styles */
/* start main slide styles */
#main_slide {
  overflow: hidden;
  z-index: 0;
  background: #0459d6 url(images/generator_bg.jpg) no-repeat center/cover;
  -webkit-transition: all 0.8s ease 0s;
  -moz-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  height: 100%;
  position: fixed;
  width: 100%;
  min-height: 630px;
}
#main_slide .in {
  height: 100%;
  -webkit-transition: all 0.8s ease 0s;
  -moz-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}
#main_slide .text {
  color: #fff;
  position: relative;
  top: 28.40671%;
  height: 71.59329%;
  -webkit-transition: all 0.8s ease 0s;
  -moz-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}
#main_slide .h1 {
  text-align: left;
  font-size: 77px;
  line-height: 100%;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
  margin-bottom: 19px;
  font-weight: 600;
  -webkit-transition: all 0.8s ease 0s;
  -moz-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}
#main_slide p {
  font-size: 18px;
  line-height: 162%;
  margin-bottom: 38px;
  max-width: 530px;
}
#main_slide ol {
  counter-reset: main_li;
  width: 100%;
  position: absolute;
  bottom: 16.3522%;
  left: 0;
  -webkit-transition: all 0.8s ease 0s;
  -moz-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}
#main_slide ol li {
  list-style: none;
  display: inline-block;
  vertical-align: top;
  color: #000;
  margin-right: 13px;
  font-size: 18px;
  font-weight: 500;
  position: relative;
  width: 210px;
}
#main_slide ol li:before {
  margin-bottom: 11px;
  display: block;
  counter-increment: main_li;
  content: counter(main_li);
  color: #6493b8;
  font-size: 62px;
  line-height: 80%;
  font-weight: 900;
  -webkit-transition: all 0.8s ease 0s;
  -moz-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}
#main_slide ol li:after {
  content: '';
  position: absolute;
  background-color: #6291b8;
  width: 124px;
  height: 2px;
  left: 80px;
  top: 26px;
}
#main_slide ol li:nth-child(-n+9):before {
  /* 1 - 9 */
  content: "0" counter(main_li);
  /* becomes 01 - 09 */
}

@media screen and (max-width: 1450px) {
  #main_slide {
    min-height: 600px;
  }
  #main_slide .text {
    top: 20.96436%;
    height: 79.03564%;
  }
  #main_slide .h1 {
    font-size: 67px;
    line-height: 100%;
  }
  #main_slide ol {
    bottom: 5%;
  }
  #main_slide ol li:before {
    font-size: 52px;
    line-height: 80%;
  }
  #main_slide ol li:after {
    top: 20px;
  }
}
@media screen and (max-width: 1300px) {
  #main_slide {
    min-height: 500px;
  }
  #main_slide .h1 {
    font-size: 60px;
    line-height: 100%;
    margin-bottom: 0;
  }
  #main_slide ol li:before {
    font-size: 47px;
    line-height: 80%;
  }
  #main_slide ol li:after {
    top: 18px;
  }
}
@media screen and (max-width: 1030px) {
  #main_slide {
    min-height: 400px;
  }
  #main_slide .h1 {
    font-size: 50px;
    line-height: 100%;
  }
  #main_slide p {
    font-size: 16px;
    line-height: 162%;
    margin-bottom: 20px;
    max-width: 350px;
  }
  #main_slide ol li {
    font-size: 16px;
    line-height: 145%;
    width: 190px;
  }
  #main_slide ol li:before {
    font-size: 40px;
    line-height: 80%;
  }
  #main_slide ol li:after {
    top: 16px;
    left: 50px;
    width: 110px;
  }
}
@media screen and (max-width: 800px) {
  #main_slide {
    min-height: 400px;
    background-position: 35% center;
  }
  #main_slide .text {
    top: 100px;
  }
  #main_slide .text {
    top: 100px;
    height: calc(100% - 100px);
  }
  #main_slide .h1 {
    font-size: 45px;
    line-height: 100%;
  }
  #main_slide p {
    font-size: 16px;
    line-height: 162%;
    margin-bottom: 20px;
    max-width: 350px;
  }
  #main_slide ol {
    bottom: 0px;
  }
  #main_slide ol li {
    font-size: 14px;
    line-height: 145%;
    float: left;
    width: 230px;
    margin-bottom: 20px;
  }
  #main_slide ol li:before {
    font-size: 35px;
    line-height: 80%;
    float: left;
    width: 50px;
    margin-top: 5px;
  }
  #main_slide ol li:after {
    display: none;
  }
  #main_slide ol li:nth-child(2) {
    clear: left;
  }
  #main_slide ol li:nth-child(3) {
    padding-top: 10px;
  }
  #main_slide ol li:nth-child(3):before {
    margin-top: -5px;
  }
}
@media screen and (max-width: 600px) {
  #main_slide {
    min-height: 400px;
    background-position: 20% center;
  }
  #main_slide .text {
    top: 80px;
    height: calc(100% - 80px);
  }
  #main_slide .h1 {
    font-size: 40px;
    line-height: 100%;
  }
  #main_slide p {
    font-size: 14px;
    line-height: 162%;
    max-width: 300px;
    font-weight: 400;
  }
  #main_slide ol {
    bottom: 0px;
  }
  #main_slide ol li {
    margin-bottom: 10px;
    width: auto;
    max-width: 210px;
  }
  #main_slide ol li:before {
    font-size: 30px;
    line-height: 80%;
    float: left;
    width: 40px;
    margin-top: 5px;
  }
}
/* end main slider styles */
#catalog {
  padding-bottom: 84px;
  background: #fff;
  position: relative;
  z-index: 2;
  padding-top: 50px;
}
#catalog h2 {
  display: inline-block;
  font-size: 34px;
  letter-spacing: 1px;
  margin-bottom: 28px;
}
#catalog .button {
  margin-top: -1px;
  margin-right: 4px;
}
#catalog .main_catalog_text {
  font-size: 14px;
  font-weight: 300;
  line-height: normal;
  color: #5c5c5c;
}

.catalog_container {
  margin-top: 49px;
  background-image: url(images/catalog_bg.jpg);
}
.catalog_container .machine_blocks {
  overflow: hidden;
  display: inline-block;
  height: 399px;
  width: 32.5%;
  margin-right: 18px;
  background: -webkit-linear-gradient(bottom right, #8d8d8d, #d1d1d1);
  background: -o-linear-gradient(bottom right, #8d8d8d, #d1d1d1);
  background: linear-gradient(to top left, #8d8d8d, #d1d1d1);
}
.catalog_container .machine_blocks:hover {
  background: linear-gradient(to top left, #3665b0, #6ec2f0);
  cursor: pointer;
}
.catalog_container .machine_blocks:last-child {
  margin-left: -6px;
  margin-right: 0;
}
.catalog_container .machine_blocks img {
  margin-top: -70px;
  margin-left: 153px;
}
.catalog_container .machine_blocks p {
  color: #010000;
  display: block;
  font-family: "Oswald";
  margin-left: 62px;
  margin-top: 21px;
  padding-bottom: 7px;
  font-size: 25px;
  text-transform: uppercase;
}
.catalog_container .machine_blocks p:hover {
  color: #fff;
}
.catalog_container .machine_blocks p span {
  display: block;
}
.catalog_container .machine_blocks p a {
  display: inline-block;
  color: #080808;
  font-family: "Oswald";
  font-size: 15px;
  display: block;
}
.catalog_container .machine_blocks p a .arr {
  display: inline-block;
}

#mechanism {
  padding-top: 100px;
  padding-bottom: 105px;
}
#mechanism h2 {
  display: block;
  font-size: 34px;
  letter-spacing: 1px;
  text-align: center;
}

.container_for_mechanisms .small_mechanism {
  display: inline-block;
  border: 1px solid transparent;
  box-sizing: border-box;
  border-right: 1px solid #e5e5e5;
  width: 311px;
  height: 311px;
}
.container_for_mechanisms .small_mechanism:last-child {
  border-right: none;
  margin-left: -13px;
}
.container_for_mechanisms .small_mechanism:hover {
  border-color: #19224d;
  box-shadow: 0px 0px 6px 0px rgba(238, 238, 238, 0.75);
  border-right: 1px solid  #19224d;
}
.container_for_mechanisms .small_mechanism img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 22px;
  margin-top: 35px;
}
.container_for_mechanisms .small_mechanism b {
  font-family: "Oswald";
  font-weight: 500;
  font-size: 24px;
  text-transform: uppercase;
  display: block;
  color: #0d121f;
  text-align: center;
}

#service .container_service .main_service_blocks {
  display: inline-block;
  width: 50%;
  padding-bottom: 84px;
}
#service .container_service .main_service_blocks .blur_block {
  background-color: #fff;
  opacity: 0.75;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 67.7%;
  margin-top: 98px;
  padding-bottom: 59px;
}
#service .container_service .main_service_blocks .blur_block .button {
  float: none;
  margin-left: 0;
  margin-top: 0;
  color: black;
  background-color: transparent;
  border: 1px solid;
  border-color: black;
}
#service .container_service .main_service_blocks .blur_block .button:hover {
  color: #fff;
  background-color: #1992d1;
}
#service .container_service .main_service_blocks .blur_block h3 {
  padding-top: 53px;
  font-size: 34px;
  letter-spacing: 1.7px;
  text-align: center;
  margin-left: 21px;
}
#service .container_service .main_service_blocks .blur_block p {
  font-weight: 300;
}
#service .main_service_blocks:nth-child(1) {
  background-image: url(images/service_second_img1.jpg);
  background-size: 100%;
  float: left;
  background-repeat: no-repeat;
}
#service .main_service_blocks:nth-child(2) {
  background-image: url(images/service_second_img2.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.arr {
  padding-left: 6px;
}

#about_company {
  position: relative;
}
#about_company .about_content {
  display: inline-block;
  width: 38%;
  float: right;
  padding-top: 104px;
  padding-right: 209px;
}
#about_company .about_content p {
  font-weight: 300;
  font-size: 14px;
  margin-left: 29px;
  margin-top: -9px;
  line-height: 23px;
  margin-bottom: 14px;
}
#about_company .about_content .button {
  float: none;
  margin-left: 29px;
  margin-top: 10px;
}
#about_company h2 {
  display: inline-block;
  font-size: 24px;
  line-height: 38px;
  margin-bottom: 0;
}
#about_company ol {
  counter-reset: li;
}
#about_company ol li {
  list-style: none;
  display: inline-block;
  color: #000;
  margin-right: 22px;
  font-size: 18px;
  font-weight: 500;
  position: relative;
  margin-left: 14px;
  max-width: 13%;
}
#about_company ol li:before {
  margin-bottom: 22px;
  display: block;
  margin-top: -17px;
  counter-increment: li;
  content: counter(li);
  color: #6493b8;
  font-size: 62px;
  font-weight: bold;
}
#about_company ol li:after {
  content: '';
  display: block;
  background-color: #6291b8;
  width: 124px;
  height: 2px;
  margin-left: 71px;
  margin-top: -93px;
}
#about_company ol > li:nth-child(-n+9)::before {
  /* 1 - 9 */
  content: "0" counter(li);
  /* becomes 01 - 09 */
}

.about_logo {
  margin-left: -129px;
  margin-bottom: 31px;
}

/*# sourceMappingURL=template_styles.css.map */
