#about{
	position: relative;
	z-index: 1;
	background-color: #fff;
	
	.img {
		position: absolute;
		width: 50%;
		height: 100%;
		top: 0;
		background: #edf2ef no-repeat right center / cover;
	}
	
	.in {
		padding-top: 95px;
		padding-bottom: 100px;
	}
	
	.kohler_logo, .h3, .bread_crumbs, h1 {
		margin-left: -160/730*100%;
		margin-bottom:30px;
	}
	.h3 {
		margin-bottom: 30px;
		line-height: 162%;
	}
	
	.text{
		padding-left: calc(50% + 50px);
		p{
			margin-bottom: 30px;
		}
		
		.button {
			margin-top: 9px;
		}
	}
	
}

#about{
	.bread_crumbs, h1 {
		margin-left: -160/730*100%;
		margin-bottom:30px;
	}
	
}
@media screen and (max-width: 1600px) {
    #about{
	.in {
		padding-top: 80px;
		padding-bottom: 80px;
	}
    }
}

@media screen and (max-width: 1300px){
    #about{
	.in {
		padding-top: 60px;
		padding-bottom: 60px;
	}
	.kohler_logo, .h3, .bread_crumbs, h1 {
		margin-left: -100/730*100%;
		margin-bottom:20px;
	}
	.kohler_logo img {
		height: 45px;
	}
	.h3 {
		font-size: 22px;
		line-height: 145%;
		margin-bottom: 20px;
	}
	.text{
		padding-left: calc(50% + 30px);
		p{
			margin-bottom: 20px;
		}
		
		.button {
			margin-top: 5px;
		}
	}
    }
}
@media screen and (max-width: 1000px) {
    #about{
	.in {
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.kohler_logo, .h3, .bread_crumbs, h1 {
		margin-left: 0;
	}
	.h3 {
		font-size: 19px;
		line-height: 145%;
	}
    }
}


@media screen and (max-width: 800px) {
    
}

@media screen and (max-width: 600px) {
    #about{
	.in {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.img {
		display: none;
	}
	.text{
		padding-left: 0;
	}
    }
}

@media screen and (max-width: 450px) {
    #advantages {
	
    }
}