#about_company{position: relative;
	.about_content{
		//float: right;
	//	z-index: 1;
	display: inline-block;
	width: 38%;
float: right;
padding-top: 104px;
padding-right: 209px;
		p{
			font-weight: 300;
			font-size: 14px;
			margin-left: 29px;
			margin-top: -9px;
			line-height: 23px;
			margin-bottom: 14px;
		 }
		.button{
			float: none;
			margin-left: 29px;
			margin-top: 10px;
		}	
	}
	h2{
			display: inline-block;
			font-size: 24px;
			line-height: 38px;
			margin-bottom: 0;
	} 
ol{counter-reset: li;
			li{list-style: none;
			display: inline-block;	
			color: #000;	
			margin-right: 22px;
			font-size: 18px;
			font-weight: 500;	
			position: relative;
			margin-left: 14px;
			max-width: 13%;
				&:before{
				margin-bottom: 22px;	
				display: block;
				margin-top: -17px;
				counter-increment: li;
				content: counter(li);	
				color:  #6493b8;	
				font-size: 62px;
				font-weight: bold;
				}
				&:after{
					content: '';
					display: block;
					background-color: #6291b8;
					width: 124px;
					height: 2px;
					margin-left: 71px;
					margin-top: -93px;
					
				}
			}
		}
	ol > li:nth-child(-n+9)::before { /* 1 - 9 */
    content: "0" counter(li); /* becomes 01 - 09 */
}	
}
.about_logo{margin-left: -129px;margin-bottom: 31px;}
.numbers{
	
}