/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

$font_family_os: 'Roboto', Arial, Helvetica, sans-serif;
$font_family_h: 'Oswald', Arial, Helvetica, sans-serif;

$color_text: #5c5c5c;
$color_h: #0d121f;
$color_a: #1992d1;
$max-width: 1560px;

@mixin clear() {
    content: "";
    display: block;
    clear: both;
}

@mixin transition($property) {
    -webkit-transition: $property 0.3s ease 0s;
    -moz-transition: $property 0.3s ease 0s;
    -o-transition: $property 0.3s ease 0s;
    transition: $property 0.3s ease 0s;
}

@mixin transition_slow($property) {
    -webkit-transition: $property 0.8s ease 0s;
    -moz-transition: $property 0.8s ease 0s;
    -o-transition: $property 0.8s ease 0s;
    transition: $property 0.8s ease 0s;
}

body {   
    font-family: $font_family_os;
    font-size: 16px;
    line-height: 193%;
    font-weight: 300;
    color: $color_text;
    //-webkit-font-smoothing: subpixel-antialiased !important;
    //-webkit-backface-visibility: hidden;
    //-moz-backface-visibility:    hidden;
    //-ms-backface-visibility:     hidden;
    //font-smoothing: antialiased;
    letter-spacing: 0.5px;
}

.wrapper {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 100%;
    display: table;
    
background: url(images/site.jpg) center top no-repeat;
//background-size: auto;
}
#index .wrapper {
    display: block;
    height: auto;
    
//background: url(images/site.jpg) center top no-repeat;
//background-size: auto;
}

a {
    text-decoration: none;
    color: $color_a;
    //@include transition(color);
}
a:hover {
    text-decoration: underline;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-weight: 700;
    line-height: 130%;
    margin-bottom: 20px;
    color: $color_h;
    font-family: $font_family_h;
    text-transform: uppercase;
}

h1, .h1 {
    font-size: 40px;
    letter-spacing: 2px;
    line-height: 130%;
}
h2, .h2 {
    font-size: 40px;
    letter-spacing: 2px;
}
h3, .h3 {
    font-size: 30px;
}
h4, .h4 {
    font-size: 20px;
}
h5, .h5 {
    font-size: 18px;
}
h6, .h6 {
    font-size: 16px;
}

@media screen and (max-width: 1020px) {
    body {   
	font-size: 14px;
	line-height: 180%;
    }
    h1, .h1 {
        font-size: 40px;
        letter-spacing: 2px;
        line-height: 130%;
    }
    h2, .h2 {
        font-size: 30px;
    }
    h3, .h3 {
        font-size: 25px;
    }
    h4, .h4 {
        font-size: 18px;
    }
    h5, .h5  {
        font-size: 16px;
    }
    h6, .h6 {
        font-size: 14px;
    }
}

@media screen and (max-width: 800px) {
    body {   
	//font-size: 12px;
	//line-height: 180%;
    }
    h1, .h1 {
        font-size: 35px;
        letter-spacing: 2px;
        line-height: 130%;
    }
    h2, .h2 {
        font-size: 26px;
    }
    h3, .h3 {
        font-size: 20px;
    }
    h4, .h4 {
        font-size: 16px;
    }
    h5, .h5  {
        font-size: 14px;
    }
    h6, .h6 {
        font-size: 12px;
    }
}

@media screen and (max-width: 600px) {
    h1, .h1 {
        font-size: 30px;
        letter-spacing: 1px;
        line-height: 130%;
    }
    h2, .h2 {
        font-size: 23px;
    }
    h3, .h3 {
        font-size: 18px;
    }
}

@media screen and (max-width: 450px) {
    h1, .h1 {
        font-size: 25px;
        letter-spacing: 0.5px;
        line-height: 130%;
    }
    h2, .h2 {
        font-size: 21px;
    }
}

.clear {
    @include clear();
}

.button {
    padding: 0 25px;
    height: 45px;
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    position: relative;
    text-align: center;
    text-decoration: none;
    //text-transform: uppercase;
    //font-family: $font_family_h;
    font-size: 16px;
    line-height: 45px;
    font-weight: 400;
    letter-spacing: 0.5px;
    cursor: pointer;
    color: #fff;
    background-color: $color_a;
    border-radius: 6px;
    
    
    &:hover, a:hover {
        text-decoration: none;
    }
}


#stocks, .products_info, main .text {
    .button a, a.button {
        color: $color_text;
        
        .arr {
            background-position: left -40px;
        }
        
        &:hover {
            color: #fff;
            
            .arr {
                background-position: left top;
            }
        }
        
        
    }
}

.button_small {
    font-size: 20px;
    padding-left: 65px;
    padding-right: 0;
    height: 34px;
    line-height: 34px;
    color: $color_text;
    &:before {
	content: "";
	width: 46px;
	height: 46px;
        top: -6px;
        left: 4px;
        position: absolute;
        box-shadow: 0px 6px 21px 4px rgba(255,84,0,0.45);
        border-radius: 25px;
        //background: url(images/button_small_shadow.png) right center no-repeat;
        
        background: #ff7e00;
        background: -webkit-linear-gradient(left, #ffb400 0%, #ff7e00 100%); /* для webkit-браузеров */
        background: -moz-linear-gradient(left, #ffb400 0%, #ff7e00 100%); /* для firefox 3.6+ */
        background: -o-linear-gradient(left, #ffb400 0%, #ff7e00 100%); /* для Opera 11.10+ */
        background: -ms-linear-gradient(left, #ffb400 0%, #ff7e00 100%); /* для IE10+ */
        background: linear-gradient(to right, #ffb400 0%, #ff7e00 100%);
    }
    &:after {
	content: "";
	position: absolute;
        top: 50%;
        left: 22px;
        margin-top: -9px;
	width: 13px;
	height: 17px;
	vertical-align: -1px;
	background: url(images/arr_middle.png) left -18px no-repeat;
        z-index: 2
    }
    
    span {
        position: absolute;
        z-index: 1px;
        width: 54px;
        height: 54px;
        left: 0;
        top: -10px;
        text-indent: -1000000px;
        &:before, &:after {
            content: "";
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            position: absolute;
            background: no-repeat center / 100% 100%;
            @include transition_slow(all);
        }
        &:before {
            background: url(images/button_small_bg1.png);
            
        }
        &:after {
            background: url(images/button_small_bg2.png);
            moz-transform: rotate(90deg); /* Firefox */
            -o-transform: rotate(90deg); /* Opera */
            -webkit-transform: rotate(90deg); /* Chrome y Safari */
            transform: rotate(90deg); /* w3org */
            opacity: 0;
        }
    }
    
    &:hover {
        span {
            &:before {
                moz-transform: rotate(-90deg); /* Firefox */
                -o-transform: rotate(-90deg); /* Opera */
                -webkit-transform: rotate(-90deg); /* Chrome y Safari */
                transform: rotate(-90deg); /* w3org */
                opacity: 0;
                
            }
            &:after {
                background: url(images/button_small_bg2.png);
                moz-transform: rotate(0deg); /* Firefox */
                -o-transform: rotate(0deg); /* Opera */
                -webkit-transform: rotate(0deg); /* Chrome y Safari */
                transform: rotate(0deg); /* w3org */
                opacity: 1;
            }
        }
    }
}
    
@media screen and (max-width: 800px) {
    .button {
        height: 39px;
	line-height: 39px;
	//min-width: 100px;
	font-size: 12px;
        
        
        &:before {
            right: -26px;
            top: -13px;
            left: 19px;
            bottom: -23px;
            
        }
        &:after {
            top: -13px;
            bottom: -23px;
            left: -24px;
        }
        
        a, b {
            &:before {
                right: -13px;
            }
        }
    }
}
@media screen and (max-width: 450px) {
    .button_block {
	text-align: center;
    }
}


.slick-slider {
    position: relative;
    margin: 0 auto;
    
    .slick-list {
	margin: 0 0px;
    }

    .slick-arrow {
	position: absolute;
	top: 50%;
	margin-top: -30px;
	width: 60px;
	height: 60px;
	z-index: 5;
	outline: none;
	cursor: pointer;
	//box-shadow: 0 0 30px rgba(0,0,0,0.14);
	background: $color_a;
	@include transition(all);
    
	&:before {
	    content: '';
	    position: absolute;
	    width: 17px;
	    height: 13px;
	    top: 50%;
	    left: 50%;
	    margin-top: -7px;
            margin-left: -8px;
            background: url(images/arr_middle.png) no-repeat;
	    @include transition(all);
	}
	
	&:hover {
	    background-color: #f46d05;
	}
    }
    .slick-prev {
	left: 0px;
	&:before {
	    background-position: right top;
	}
    }
    .slick-next {
	right: 0px;
	&:before {
	    background-position: left top;
	}
    }

ul.slick-dots {
    padding-left: 23px;
    li {
	//display: inline-block;
	width: 10px;
	height: 20px;
        line-height: 20px;
	//position: relative;
	//border: 4px solid transparent;
	//border-radius: 7px;
	//background-color: $color_text;
	//background-clip: padding-box;
	//@include transition(all);
	//margin-right: 4px;
	cursor: pointer;
        float: left;
        margin-right: 15px;
        margin-left: 0px;
        list-style-type: decimal-leading-zero;
        font-family: $font_family_h;
	font-size: 18px;
        font-weight: 700;
	line-height: 130%;
        color: transparent;
        @include transition(all);
        
        &:before {
            content: '';
            display: inline-block;
            vertical-align: 3px;
            width: 6px;
            height: 6px;
            margin-left: -10px;
            background-color: $color_a;
            border-radius: 3px;
        }
       
	
	&.slick-active {
	    color: $color_a;
            margin-right: 5px;
            margin-left: 20px;
            width: 0;
            
            &:before {
                display: none;
            }
            
	}
	
	button {
	    display: none;
	}
    }
}
} 

.tabs_container {
    position: relative;
}
    
.tab {
    height: 0;
    overflow: hidden;
    opacity: 0;
    @include transition(opacity);
}
.tab.active {
    opacity: 1;
    height: auto;
    overflow: visible;
    padding-top: 8px;
    
}

.tab_buttons {
    width: 100%;
    left: 0;
    z-index: 5;
    padding-top: 8px;
    margin-bottom: 27px;
    
    .tab_but {
	//border-bottom: 2px dotted transparent;
	//font-weight: 700;
	display: inline-block;
	margin-right: 0px;
        padding: 5px 20px;
	cursor: pointer;
        height: 46px;
        line-height: 36px;
        box-sizing: border-box;
	color: #777777;
	//text-transform: uppercase;
        position: relative;
	
	//@include transition(border);
        
        a {
            color: #777777;
            margin: -5px -20px;
            padding: 5px 20px;
            display: block;
        }
	
        &.active {
	    background: #ff9600;
            color: #fff;
            
            &:after {
                content: '';
                position: absolute;
                right: -14px;
                top: 0;
                border-top: 23px solid transparent;
                border-left: 15px solid #ff9600;
                border-bottom: 23px solid transparent;
            }
            
            a{
                color: #fff;
                &:hover {
                    text-decoration: none;
                }
            }
	}
    }
}
.main_section {
	overflow: hidden;
	position: relative;
	@include transition_slow(all);
}
.in {
	padding: 0px 20px;
        margin: 0 auto;
        max-width: $max-width;
        position: relative;
	//z-index: 1;
	@include transition_slow(all);
	
	&:after {
	    @include clear();
	}
}
.fancybox-enabled {
    overflow: auto;
}

.background_video {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 0;
        top: 0;
        left: 0;
        overflow: hidden;
        //min-height: 700px;
	
	&:before {
	    display: none;
	    
	    height: 100%;
	    width: 100%;
	    position: absolute;
	    top: 0;
	    left: 0;
	    content: '';
	    background: #000;
            opacity: 0.42;
	}
        
        video {
            background-color: transparent;
            pointer-events: none;
            min-height: 100%; 
            min-width: 100%; 
            position: absolute;
            z-index: 0;
            left: 0;
            top: 0;
            height: auto;
            width: 100%;
            object-fit: cover;  
        }
    }
