#catalog
{padding-bottom: 84px;background: #fff; position: relative; z-index: 2; padding-top: 50px;

	h2{
		display: inline-block;
		font-size: 34px;
		letter-spacing: 1px;
		margin-bottom: 28px;
	}
	.button{
		margin-top: -1px;
		margin-right: 4px;
	}
	.main_catalog_text{
		font-size: 14px;
    font-weight: 300;
    font-family: "Roboto light";
    line-height: normal;
	color: #5c5c5c;	
	}
}
.catalog_container{margin-top: 49px;
	background-image: url(images/catalog_bg.jpg);
	.machine_blocks{
		overflow: hidden;
		display: inline-block;
		height: 399px;
		width: 32.5%;
		margin-right: 18px;
        background: -webkit-linear-gradient(bottom right, #8d8d8d, #d1d1d1);
        background: -o-linear-gradient(bottom right, #8d8d8d, #d1d1d1);
        background: linear-gradient(to top left, #8d8d8d, #d1d1d1);
		&:hover{
			background: linear-gradient(to top left, #3665b0, #6ec2f0);
			cursor: pointer;
		}
		&:last-child{
			margin-left: -6px;
			margin-right: 0;
		}
		img{
			margin-top: -70px;
margin-left: 153px;
		}
		p{
			color: #010000;
			display: block;
			font-family: "Oswald";
			margin-left: 62px;
			margin-top: 21px;
			padding-bottom: 7px;
			font-size: 25px;
			text-transform: uppercase;
			&:hover{
				color: #fff;
			}
			span{
				display: block;
			}
			
		a{
			display: inline-block;
			color: #080808;
			font-family: "Oswald";
			font-size: 15px;
			display: block;
			.arr{display: inline-block;}
			}
	}
	}
}