#index #catalog {
	margin-top: 1200px;
	//margin-top: 953px;
}

#catalog {
	position: relative;
	z-index: 2;
	background: #fff; // url(images/catalog.jpg) no-repeat top;
	
	&:after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 340px;
		z-index: 0;
		background: #dedede url(images/catalog_bg.jpg) no-repeat center top / cover;
	}
	
	.in { 
		padding-top: 79px;
		padding-bottom: 69px;
		position: relative;
		z-index: 1;
	}
	
	.h1{
		display: inline-block;
	}
	.h1 + .button{
		float: right;
	}
	.text {
		margin-bottom: 45px;
	}
}
.catalog_container{
	text-align: justify;
	
	&:after {
		display: inline-block;
		content: '';
		width: 100%;
	}
	
	.catalog_item{
		overflow: hidden;
		display: inline-block;
		height: 395px;
		width: 32.5%;
		position: relative;
		background: -webkit-linear-gradient(bottom right, #8d8d8d, #d1d1d1);
		background: -o-linear-gradient(bottom right, #8d8d8d, #d1d1d1);
		background: linear-gradient(to top left, #8d8d8d, #d1d1d1);
		@include transition_slow(all);
		a {
			display: block;
			width: 100%;
			height: 100%;
		}
		.img{
			position: absolute;
			top: 0;
			right: 0;
			max-width: 80%;
			//height: 100%;
			
			img {
				max-width: 100%;
			}
		}
		
		.info {
			position: absolute;
			bottom: 30px;
			left: 0;
			box-sizing: border-box;
			padding: 0 50/505*100%;
		}
		
		.h3 {
			display: block;
			margin-bottom: 4px;
		}
			
		.button {
			border: 0;
			padding: 0;
			color: $color_h;
			line-height: 160%;
			height: auto;
			font-size: 14px;
			border-bottom: 2px solid transparent;
			border-radius: 0;
			&:hover {
				background: none;
			}
			.arr {
				margin-left: 7px;
			}
		}
		
		&:hover {
			background: linear-gradient(to top left, #3665b0, #6ec2f0);
			.h3 {
				color: #fff;
			}
			.button {
				color: #fff;
				border-bottom: 2px solid #fff;
				.arr {
					background-position: left top;
				}
				
			}
		}
	}
}

.seo_text{
	padding-bottom: 40px;
	position: relative;
	z-index: 2;
	p{
		margin-bottom: 20px;
	}
}



@media screen and (max-width: 1600px) {
    .catalog_container{
	.catalog_item{
		height: 350px;
		
		.info {
			padding: 0 25/505*100%;
		}
	}
    }
}

@media screen and (max-width: 1300px){
    #catalog {
	.in { 
		padding-top: 50px;
		padding-bottom: 50px;
	}
    }
    .catalog_container{
	.catalog_item{
		height: 300px;
		
		.info {
			padding: 0 40/505*100%;
		}
	}
    }
}
@media screen and (max-width: 1000px) {
    #catalog {
	.in { 
		padding-top: 40px;
		padding-bottom: 30px;
	}
    }
    .catalog_container{
	.catalog_item{
		height: 270px;
		
		.info {
			padding: 0 40/505*100%;
			bottom: 15px;
		}
	}
    }
}


@media screen and (max-width: 800px) {
    .catalog_container{
	.catalog_item{
		height: 240px;
		
		.info {
			padding: 0 30/505*100%;
			bottom: 15px;
		}
	}
    }
}

@media screen and (max-width: 600px) {
    #catalog {
	.in { 
		padding-top: 30px;
		padding-bottom: 20px;
	}
    }
    .catalog_container {
	&:after {
		display: none;
	}
	.catalog_item{
		height: 200px;
		width: 100%;
		display: block;
		margin-bottom: 10px;
		
		.img {
			width: 50%;
		}
		.info {
			bottom: 15px;
			max-width: 60%;
		}
	}
	
    }
}

@media screen and (max-width: 450px) {
    .catalog_container {
	.catalog_item{
		height: 150px;
	}
	
    }
}
