/* start content styles */
.bread_crumbs {
    //text-align: center;
	margin-top: 52px;
    margin-bottom: 22px;
    padding-top: 30px;
    font-weight: 300;
    font-size: 13px;
    color: #003fa6;
    text-transform: normal;
    letter-spacing: 0.3px;
       // margin-left: 11px;
    
    .in:after {
	display: none;
    }
    
    span, a {
	vertical-align: middle;
	display: inline-block;            
    }
    span {
        //margin: 0 -4px 0 -4px;
	color: #1992d1;
    }
    a {
	text-decoration: underline;            
    }
    a:hover{
        text-decoration: none;   
    }
    a:after {
	content: '';
        display: inline-block;
        background-color: transparent;
        width: 0px;
border-right: 1px solid #1992d1;
height: 12px;
        vertical-align: middle;
        margin: 0 8px;
	background-color: #1992d1;
    }
	.active{
		color: #545454;
	
	}
}

main {
    position: relative;
    margin-top: 123px;
    padding-bottom: 40px;
      
}

.left, .right {
    max-width: 45%;
    
    img {
	display: inline-block;
	max-width: 100%;
    }
}
.left {
    float: left;
    margin: 9px 50px 20px 0px;
}
.right {
    float: right;
    clear: right;
    margin: 0px 5px 20px 30px;
}
.lslider{
    float: left;
    width: 654px;
    margin-right: 40px;
    height: 393px;
}

.content {
    .h1_bg {
	position: absolute;
	color: #eef4f6;
	text-transform: uppercase;
	font-size: 100px;
	line-height: 40%;
	z-index: 0;
	font-weight: 900;
            
    }
                    height: 2787px;    
    h1 {
	position: relative;
	z-index: 1;
	margin-bottom: 39px;
            margin-left: 69px;
    font-family: 'Bebas Neue';
    font-weight: bold; 
       color: #111111;
    }
        h2 , h5
        {
                margin-left: 50px;
                margin-bottom: 49px;
                line-height: 43px;
                  color: #111111;
        }
        h4{
                margin-left: 35px;
                color: #111;
        }
        h5
        {
                margin-top: 0px;
                margin-left: 32px;
                letter-spacing: 1px;
              
        }
        h3
        {
                margin-top: -15px;
                margin-left: 14px;
                color: #111111;
                margin-bottom: 58px;
        }
        h6
        {
                margin-top: 42px;
                margin-left: 31px;
                margin-bottom: 60px;
        }
   .span
        {
                display: block;
        }
      .left
        {
                margin-right: 74px;
        }

}    
    .datetime {
	display: inline-block;
	position: relative;
	//top: -27px;
	padding: 2px 25px 5px 0px;
	margin-bottom: 10px;
	//margin-top: 25px;
        font-size: 16px;
	font-family: $font_family_h;
	font-weight: 400;
	letter-spacing: 1px;
	
	&:before {
	    content: '';
	    display: inline-block;
	    width: 24px;
	    height: 19px;
	    background: url(images/calendar.png)left bottom no-repeat;
	    vertical-align: -1px;
	}
    }

#selection + .in {
    padding-top: 50px;
    padding-bottom: 10px;
}

.content {
    line-height: 170%;
    font-weight: 300;
    
    
    .button {
	margin-bottom: 40px;
    }

    ul {
	padding-bottom: 33px;
	li {
	    position:  relative;
	    margin-bottom: 0px;
	    //padding-left: 60px;
	    //padding-top: 15px;
	    
	    &:before {
                content: '';
		position: relative;
		display: inline-block;
		vertical-align: middle;
                width: 67px;
                height: 66px;
                margin-top: 1px;
                margin-bottom: -7px;
                display: inline-block;
                background: url("images/ul_li.png") no-repeat;
                margin-left: -13px;
                
	    }
	}
    }
    
    ol {
	list-style-type: none;
	counter-reset: number;
	padding-left: 0;
	position: relative;
	z-index: 1;
	padding-bottom: 35px;
	//overflow: auto;
	
	li {
	    position: relative;
	    //padding-left: 25px;
	    padding-top: 7px;
	    //margin-bottom: 23px;
	    //padding-left: 70px;
	    //clear: left;
	    min-height: 57px;
	    
	    &:before {
		position: relative;
		//display: inline-block;
		//vertical-align: top;
		float: left;
		counter-increment: number;
		content: "0" counter(number);
		//color: #fff;
		font-size: 17px;
		font-family: $font_family_h;
		line-height: 66px;
		font-weight: 500;
		text-align: center;
		z-index: -1;
		letter-spacing: 0.5px;
		width: 77px;
		height: 80px;
		margin-left: -18px;
		margin-bottom: -6px;
		margin-top: -17px;
		margin-right: 11px;
		color: #323232;
		background: url('images/ol_li.png') no-repeat;        
}
	    }
	}
	
	&.highlight {
	    li {
		margin-bottom: 20px;
		padding-left: 70px;
		color: $color_a;
		&:before {
		    color: #fff;
		    position: absolute;
		    top: 0;
		    left: 0;
		    content: counter(number);
		    font-size: inherit;
		    width: 40px;
		    height: 40px;
		    background: #3863d0;
		    border-radius: 20px;
		    text-align:  center;
		    font-weight: normal;
		    //opacity: 0.5;
		    line-height: 40px;
		    
		    background: -webkit-linear-gradient(135deg, #26baff 0%, #1269d1 100%); /* для webkit-браузеров */
		    background: -moz-linear-gradient(135deg, #26baff 0%, #1269d1 100%); /* для firefox 3.6+ */
		    background: -o-linear-gradient(135deg, #26baff 0%, #1269d1 100%); /* для Opera 11.10+ */
		    background: -ms-linear-gradient(135deg, #26baff 0%, #1269d1 100%); /* для IE10+ */
		    background: linear-gradient(135deg, #26baff 0%, #1269d1 100%);
		}
	    }
	}
    
    table {
	    margin-top: 25px;
	    width: 100%;
	    margin-bottom: 40px;
	tr {
	    //background-color: #f4f7fb;
	    //border-bottom: 10px solid #fff;
	}
	
	td, th {
	    padding: 14px 30px 13px;
	    
	    &:first-child {
		padding-left: 0;
		width: 44.3%;
	    }
	}
	td {
	    border-bottom: 1px solid #d6d6d6;
	    border-left: 1px solid #d6d6d6;
	    width: 21%;
	    &:first-child {
		border-left: 0;
	    }
	}
	th {
	    border-bottom: 1px solid #111111;
	    border-top: 1px solid #111111;
	    text-align: left;
	    text-transform: uppercase;
	}
    }
    
    
    
    .cols2 {
	columns: 100px 2;
    }
    
    .cols3 {
	columns: 50px 3;
    }
    
    }
    




#article {
    .wrapper {
	background: none;
    }
    .main_photo {
	width: auto;
	float:  none;
	margin-right: 0;
	margin-bottom: 40px;
	
	&:before {
	    display: none;
	}
    }
    
    .text {
	margin-bottom: 50px;
    }
}

.more_text_link {
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #0d9df6;
    font-weight: 500;
    letter-spacing: 0.5px;
    border-bottom: 2px dotted #0d9df6;
    cursor: pointer;
    white-space: nowrap;
    
    &:after {
	content: '';
	width: 11px;
	height: 11px;
	display: inline-block;
	background: url(images/arrow_blue2.png) no-repeat left top;
	margin-left: 10px;
	margin-right: -20px;
	vertical-align: -2px;
    }
    
    &:hover {
	border-color: transparent;
    }
    &.trigger {
	&:after {
	    -moz-transform: rotate(180deg); /* Для Firefox */
	    -ms-transform: rotate(180deg); /* Для IE */
	    -webkit-transform: rotate(180deg); /* Для Safari, Chrome, iOS */
	    -o-transform: rotate(180deg); /* Для Opera */
	    transform: rotate(180deg);
	    //vertical-align: 2px;
	}
    }
}

.prevnext_links {
    margin-bottom: 50px; 
    //text-align:  justify;
    min-height: 32px;
    @include clear();
    .in:after {
	
	//display: block;
	//width: 100%;
    }
    
    
    .prev, .next {
	color: $color_text;
	text-decoration: none;
	display: inline-block;
	position: relative;
	
	span {
	    border-bottom: 1px dotted transparent;
	}
	
	.arr {
	    position: relative;
	    border: 0;
		margin-top: -3px;
		width: 46px;
		height: 32px;
		z-index: 5;
		outline: none;
		cursor: pointer;
		box-shadow: 0 0 30px rgba(0,0,0,0.14);
		background: #fff;
		@include transition(all);
		text-indent: -10000px;
		
		&:before, &:after {
			content: '';
			position: absolute;
			width: 11px;
			height: 11px;
			top: 50%;
			left: 50%;
			margin-top: -6px;
			margin-left: -5px;
			@include transition(all);
		}
		
		&:before {
			background: url(images/arrow_blue.png) no-repeat;
		}
		
		&:after {
			background: url(images/arrow_white.png) no-repeat;
			opacity: 0;
		}
	}
	&:hover {
	    color: $color_a;
	    
	    span {
		border-bottom: 1px dotted $color_a;
	    }
	    .arr {
			background-color: #0090e9;
			
			&:before {
				opacity: 0;
			}
			&:after {
				opacity: 1;
			}
		}
	}
    }
    .prev {
	margin-right: 15px;
	.arr {
	    float:  left;
	    margin-right: 15px;
		&:before, &:after {
			background-position: left center;
		}
	}
    }
    .next {
	margin-left: 15px;
	.arr {
	    float: right;
	    margin-left: 15px;
		&:before, &:after {
			background-position: right center;
		}
	}
    }
}

.galery {
	//float: left;
	width: 650px; //41.8%;
	position: relative;
	margin-bottom: 85px;
	z-index: 5;
	max-width: 650px;
	
	.main_img {
	    height: 367px;
	    //line-height: 640px;
	    background: no-repeat center / contain;
	    margin-bottom: 20px;
	    //margin-left: 145px;
	    width: 464px;
	    text-align: center;
	    //background-color: #fff;
	    //border: 1px solid #e6e6e6;
	    overflow: hidden;
	    
	    float: left;
	    
	    
	    .slick-list {
		margin: 0px;
		position: absolute;
		width: 100%;
		height:  100%;
		top: 0;
		left: 0;
		overflow: hidden;
	    }
	    
	    div {
		height: 100%;
		width: 100%;
	    }
	    
	    a {
		display: block;
		width: 100%;
		height: 100%;
		cursor: crosshair;
	    }
	    
	    img {
		vertical-align: middle;
		display: inline;
		object-fit: cover;
		width: 100%;
		height: 100%;
		cursor: crosshair;
	    }
	    
	}
	.small_images {
	    float: right;
	    width: 178px;
	    
	    .slick-list {
		margin: 0px;
	    }
	}
	
	.img_small {
	    width: 178px;
	    //display: inline-block;
	    //vertical-align: top;
	    height: 178px;
	    //overflow: hidden;
	    margin-bottom: 10px;
	    cursor: pointer;
	    //border: 1px solid #d5d5d5;
	    //opacity: 0.44;
	    overflow: hidden;
	    @include transition_slow(opacity);
	    position: relative;
	    
	    
		&:before {
		    content: '';
		    position: absolute;
		    width: 100%;
		    height: 100%;
		    top: 0;
		    left: 0;
		    background: #ff7e00;
		    background: -webkit-linear-gradient(left, #ffb400 0%, #ff7e00 100%); /* для webkit-браузеров */
		    background: -moz-linear-gradient(left, #ffb400 0%, #ff7e00 100%); /* для firefox 3.6+ */
		    background: -o-linear-gradient(left, #ffb400 0%, #ff7e00 100%); /* для Opera 11.10+ */
		    background: -ms-linear-gradient(left, #ffb400 0%, #ff7e00 100%); /* для IE10+ */
		    background: linear-gradient(to right, #ffb400 0%, #ff7e00 100%);
		    opacity: 0;
		    
		}
		
		&:after {
		    content: '';
		    position: absolute;
		    width: 100%;
		    height: 100%;
		    top: 0;
		    left: 0;
		    background: url(images/loop.png) no-repeat center;
		    opacity: 0;
		}
	    
	    &:hover:before {
		opacity: 0.8;
	    }
	    &:hover:after {
		opacity: 1;
	    }
	    img {
		width: 140%;
		//margin-left: -15px;
		height: 100%; 
		object-fit: cover;
	    }
	}
	
	.slick-slider {
	    .slick-arrow {
		top: 100%;
		margin-top: -29px;
		width: 69px;
		height: 69px;
	    }
	    .slick-prev {
		left: auto;
		right: 69px;
	    }
	    
	    ul.slick-dots {
		left: auto;
		right: 118px;
		position: absolute;
		bottom: -24px;
		width: 150px;
		text-align: right;
		padding-bottom: 0;
		
		li {
		    &:before{
			margin: 0 0 0 -10px;
		    }
		    
		    &.slick-active {
			
			&:after {
			    content: '';
			    background: #fff;
			    position: absolute;
			    bottom: 0px;
			    height: 5px;
			    width: 5px;
			    right: 1px;
			}
			
		    }
		}
	    }
	    
	}
	
    }

.text .pagination, .text .pagination {
    margin-bottom: 50px;
    text-align: center;
    li {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	font-size: 16px;
	font-weight: 300;
	color: #777777;
	//width: 21px;
	margin: 0 3px;
	
	&:before {
	    display: none;
	}
	
	
	a {
	    display: block;
	    width: 21px;
	    height: 21px;
	    line-height: 23px;
	    vertical-align: middle;
	    color: #777777;
	    //border-radius: 11px;
	    //overflow: hidden;
	    text-decoration: none;
	    //border: 1px solid transparent;
	    
	    
	    &:hover {
		color: $color_a;
		//border: 1px solid $color_a;
	    } 
	}
	    
	&.active {
	    width: 42px;
	    height: 42px;
	    box-shadow: 0 6px 21px rgba(255, 84, 0, 045);
	    margin: 0 10px;
	    border-radius: 23px;
	    color: #fff;
	    position: relative;
	    
	    &:before {
		content: "";
		position: absolute;
		top: -2px;
		left: -6px;
		width: 54px;
		height: 46px;
		z-index: 0;
		display: block;
		margin-left: 0;
		background: url(images/pagination_bg_active.png) no-repeat center;
	    }
	    
	    a {
		position: relative;
		z-index: 1;
		color: #fff;
		width: 100%;
		height: 100%;
		line-height: 42px;
		text-align: center;
	    }
	}
	
	&.pag-ar {
	    width: 54px;
	    height: 46px;
	    background: url(images/pagination_bg.png) no-repeat center;
	    margin: 0 10px;
	    
	    a {
		display: block;
		width: 100%;
		height: 100%;
		text-indent: -10000px;
		position: relative;
		
		&:before {
		    content: "";
		    position: absolute;
		    top: 50%;
		    left: 50%;
		    margin-top: -7px;
		    margin-left: -9px;
		    width: 17px;
		    height: 13px;
		    vertical-align: -1px;
		    background: url(images/arr_middle.png) left -18px no-repeat;
		    z-index: 2;
		}
	    }
	}
	
	&.prev {
	    a {
		&:before {
		    background-position: -28px -41px;
		}
	    }
	}
	&.next {
	    a {
		&:before {
		    background-position: 0px -41px;
		}
	    }
	}
    }
}



.block404 {
    background: #000b1d url(images/page404_bg.jpg) no-repeat center 91px / cover;
    display: table-row;
    height: 100%;
    //background-position: 0 30px;
    
    .in {
	display: table-cell;
	//text-align: center;
	height: 100%;
	vertical-align: middle;
	padding-top: 200px;
	padding-bottom: 50px;
	color: #fff;
    }
    
    .text {
	max-width: $max-width;
	margin: 0 auto;
	text-align: center;
	padding-right: 0;
    
	.button {
	    a {
		color: #fff;
	    }
	}
    }
    
    .img404 {
	font-size: 300px;
	line-height: 90%;
	font-weight: 900;
	//color: #fff;
	margin-bottom: 20px;
	
	img {
	    max-width: 80%;
	}
    }
    
    p {
	font-size: 35px;
	font-weight: 400;
	line-height: 100%;
	letter-spacing: 2px;
	margin-bottom: 25px;
	text-transform: uppercase;
	font-family: $font_family_h;
    }
    
    .error {
	font-size: 60px;
	color: #eaedf4;
	display: none;
    }
    
}



.search_block {
    padding-top: 18px;
    
    .pagination {
	padding-top: 45px;
    }
}
.search_item {
    border-top: 1px solid #e6e7e9;
    padding-top: 15px;
    padding-bottom: 10px;
    margin-bottom: 5px;
    
    h3 {
	font-size: 35px;
	
	a {
	    color: $color_h;
	}
    }
    
    .orange {
	background-color: #fb9802;
	padding-left: 3px;
        padding-right: 3px;
        color: #000; 
    }
    
    p {
	margin-bottom: 5px;
    }
    
    .bread_crumbs {
	padding-top: 0px;
	font-size: inherit;
	margin-bottom: 20px;
	
	a:last-child {
	    &:after {
		display: none;
	    }
	}
    }
}



@media screen and (max-width: 1600px) {
    
}

@media screen and (max-width: 1300px) /*and (min-width: 1000px)*/ {
    .galery {
	width: 465px;
	
	.main_img {
	    margin-bottom: 10px;
	    float: none;
	}
	.small_images {
	    float: none;
	    width: 465px;
	    
	    .slick-list {
		margin: 0px -5px;
	    }
	}
	
	.img_small {
	    height: 178px;
	    margin: 0 5px;
	}
    }
}
@media screen and (max-width: 1020px) {
    main {
	margin-top: 80px;
	padding-bottom: 30px;
    }
    .galery {
	width: 350px;
	
	.main_img {
	    height: 250px;
	    width: 350px;
	}
	.small_images {
	    width: 350px;
	}
	
	.img_small {
	    height: 170px;
	}
    }
    .block404 {
	background-position: center 63px;
	
	.in {
	    padding-top: 140px;
	    padding-bottom: 10px;
	}
	
    }
}


@media screen and (max-width: 800px) {
    .block404 {
	background-position: center 53px;
	
	.in {
	    padding-top: 140px;
	    padding-bottom: 10px;
	}
	
	.img404 {
	    font-size: 200px;
	    line-height: 90%;
	    width: 400px;
	    margin-left: auto;
	    margin-right: auto;
	}
	
	p {
	    font-size: 30px;
	}
	
	
    }
    
}

@media screen and (max-width: 700px) {
    .galery {
	float: none;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 60px;
    }
    
    .text table {
	    overflow: auto;
	
	td, th {
	    padding: 7px 15px 7px;
	    
	}
    }
    
}

@media screen and (max-width: 600px) {
    .left, .right {
	width: 100%;
	max-width: 100%;
	float: none;
	margin: 0 0 60px;
    }
    .galery {
	
	.main_img {
	    height: 250px;
	}
	
	.img_small {
	    height: 120px;
	}
    }
    
    .block404 {
	background-position: center 28px;
	
	.in {
	    padding-top: 100px;
	    padding-bottom: 0px;
	}
	
	.img404 {
	    font-size: 150px;
	    line-height: 90%;
	    width: 350px;
	}
	
	p {
	    font-size: 27px;
	}
    }
}

@media screen and (max-width: 450px) {
    main {
	margin-top: 60px;
	padding-bottom: 30px;
    }
    .galery {
	width: 280px;
	
	.main_img {
	    height: 200px;
	    width: 280px;
	}
	.small_images {
	    width: 280px;
	}
    }
    
    .block404 {
	background-position: center 28px;
	
	.in {
	    padding-top: 100px;
	    padding-bottom: 0px;
	}
	
	.img404 {
	    font-size: 100px;
	    line-height: 90%;
	    width: 280px;
	}
	
	p {
	    font-size: 24px;
	}
    }
}

/* end content styles */