/* start content styles */
.bread_crumbs {
    //text-align: center;
	//margin-top: 52px;
    margin-bottom: 14px;
    padding-top: 40px;
    font-weight: 300;
    font-size: 12px;
    color: #003fa6;
    text-transform: normal;
    letter-spacing: 0.3px;
       // margin-left: 11px;
    
    .in:after {
	display: none;
    }
    
    span, a {
	vertical-align: middle;
	display: inline-block;            
    }
    span {
        //margin: 0 -4px 0 -4px;
	color: #1992d1;
    }
    a {
	text-decoration: underline;            
    }
    a:hover{
        text-decoration: none;   
    }
    a:after {
	content: '';
        display: inline-block;
        background-color: transparent;
        width: 0px;
border-right: 1px solid #1992d1;
height: 12px;
        vertical-align: middle;
        margin: 0 8px;
	background-color: #1992d1;
    }
	.active{
		color: #545454;
	
	}
}

main {
    position: relative;
    margin-top: 123px;
    padding-bottom: 40px;
      
}

.left, .right {
    max-width: 50%;
    
    img {
	display: inline-block;
	max-width: 100%;
    }
}
.left {
    float: left;
    margin: 9px 30px 20px 0px;
}
.right {
    float: right;
    clear: right;
    margin: 0px 0px 20px 30px;
}
.lslider{
    float: left;
    width: 654px;
    margin-right: 40px;
    height: 393px;
}

.content {
	padding-top: 100px;
	padding-bottom: 50px;
	
        h1, h2, h3, h4, h5, h6{
                color: #111111;
        }
	
	a {
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}

}    
    .datetime {
	display: inline-block;
	position: relative;
	//top: -27px;
	padding: 2px 25px 5px 0px;
	margin-bottom: 10px;
	//margin-top: 25px;
        font-size: 16px;
	font-family: $font_family_h;
	font-weight: 400;
	letter-spacing: 1px;
	
	&:before {
	    content: '';
	    display: inline-block;
	    width: 24px;
	    height: 19px;
	    background: url(images/calendar.png)left bottom no-repeat;
	    vertical-align: -1px;
	}
    }

#selection + .in {
    padding-top: 50px;
    padding-bottom: 10px;
}

.content .text {
    line-height: 170%;
    font-weight: 300;
    
    
    .button {
	margin-bottom: 40px;
    }

    ul {
	padding-bottom: 33px;
	li {
	    position:  relative;
	    margin-bottom: 0px;
	    padding-left: 25px;
	    //padding-top: 15px;
	    margin-bottom: 15px;
	    
	    &:before {
                content: '';
		position: absolute;
		top: 3px;
		left: 0;
                width: 17px;
                height: 16px;
                margin-top: 1px;
                display: inline-block;
                //background: url("images/ul_li.png") no-repeat;
		background: linear-gradient(to bottom, #51b7ec, #4973ac);
		border-radius: 5px;
                
	    }
	}
    }
    
    
    ol {
	list-style-type: none;
	counter-reset: number;
	padding-left: 0;
	position: relative;
	z-index: 1;
	margin-bottom: 10px;
	overflow: auto;
	
	li {
	    position: relative;
	    padding-left: 25px;
	    margin-bottom: 5px;
	    
	    &:before {
		position: absolute;
		left: 0;
		top: 0px;
		float: left;
		counter-increment: number;
		content: counter(number)".";
		font-size: 14px;
		font-family: $font_family_h;
		//line-height: 66px;
		font-weight: 700;
		//text-align: center;
		//z-index: -1;
		letter-spacing: 0.5px;
		//width: 77px;
		//height: 80px;
		color: #009deb;       
}
	    }
	}
	
    
.table{
	background-color: #fafdff;
	margin-bottom:30px;
	padding-top: 30px;
	position: relative;
	
	&:before {
		content: '';
		background-color: #fafdff;
		position: absolute;
		left: -125%;
		top: 0;
		width: 300%;
		height: 100%;
	}
	table {
	    width: 100%;
	    margin-bottom: 40px;
	    position: relative;
	    z-index: 1;
	tr {
	    border-bottom: 1px solid #94ccea;;
	}
	tr:last-child{
		border-top: 0;
	}
	
	td, th {
	    padding: 14px 5px 13px;
	    
	    &:first-child {
		width: 30%;
	    }
	}
	
		th{
			font-family: 'Oswald';
			color: #878a90;
			font-size: 24px;
			font-weight: 700;
			text-align: center;
			&:first-child{
				color: #0d121f;
				text-align: left;
			}
		}
	td {
	    //width: 21%;
	    text-align: center;
	    &:first-child {
		text-align:  left;
	    }
	     
	}
	td[rowspan] + td {
		text-align: left;
	    }
	th {
	    text-align: left;
	}
    }
}
    
    
    .col2 {
	column-count: 2;
	column-gap: 80px;
    }
    
    .col3 {
	column-count: 3;
	column-gap: 50px;
    }
    
}
    





.pagination {
    margin-bottom: 50px;
    //text-align: center;
    li {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	font-size: 16px;
	font-weight: 300;
	color: #777777;
	//width: 21px;
	margin: 0 3px;
	
	&:before {
	    display: none;
	}
	
	
	a {
	    display: block;
	    width: 21px;
	    height: 21px;
	    line-height: 23px;
	    vertical-align: middle;
	    color: #777777;
	    //border-radius: 11px;
	    //overflow: hidden;
	    text-decoration: none;
	    //border: 1px solid transparent;
	    
	    
	    &:hover {
		color: $color_a;
		//border: 1px solid $color_a;
	    } 
	}
	    
	&.active {
	    width: 42px;
	    height: 42px;
	    box-shadow: 0 6px 21px rgba(255, 84, 0, 045);
	    margin: 0 10px;
	    border-radius: 23px;
	    color: #fff;
	    position: relative;
	    
	    &:before {
		content: "";
		position: absolute;
		top: -2px;
		left: -6px;
		width: 54px;
		height: 46px;
		z-index: 0;
		display: block;
		margin-left: 0;
		background: url(images/pagination_bg_active.png) no-repeat center;
	    }
	    
	    a {
		position: relative;
		z-index: 1;
		color: #fff;
		width: 100%;
		height: 100%;
		line-height: 42px;
		text-align: center;
	    }
	}
	
	&.pag-ar {
	    width: 54px;
	    height: 46px;
	    background: url(images/pagination_bg.png) no-repeat center;
	    margin: 0 10px;
	    
	    a {
		display: block;
		width: 100%;
		height: 100%;
		text-indent: -10000px;
		position: relative;
		
		&:before {
		    content: "";
		    position: absolute;
		    top: 50%;
		    left: 50%;
		    margin-top: -7px;
		    margin-left: -9px;
		    width: 17px;
		    height: 13px;
		    vertical-align: -1px;
		    background: url(images/arr_middle.png) left -18px no-repeat;
		    z-index: 2;
		}
	    }
	}
	
	&.prev {
	    a {
		&:before {
		    background-position: -28px -41px;
		}
	    }
	}
	&.next {
	    a {
		&:before {
		    background-position: 0px -41px;
		}
	    }
	}
    }
}



.block404 {
    background: #000b1d url(images/page404_bg.jpg) no-repeat center 91px / cover;
    display: table-row;
    height: 100%;
    //background-position: 0 30px;
    
    .in {
	display: table-cell;
	//text-align: center;
	height: 100%;
	vertical-align: middle;
	padding-top: 200px;
	padding-bottom: 50px;
	color: #fff;
    }
    
    .text {
	max-width: $max-width;
	margin: 0 auto;
	text-align: center;
	padding-right: 0;
    
	.button {
	    a {
		color: #fff;
	    }
	}
    }
    
    .img404 {
	font-size: 300px;
	line-height: 90%;
	font-weight: 900;
	//color: #fff;
	margin-bottom: 20px;
	
	img {
	    max-width: 80%;
	}
    }
    
    p {
	font-size: 35px;
	font-weight: 400;
	line-height: 100%;
	letter-spacing: 2px;
	margin-bottom: 25px;
	text-transform: uppercase;
	font-family: $font_family_h;
    }
    
    .error {
	font-size: 60px;
	color: #eaedf4;
	display: none;
    }
    
}



.search_block {
    padding-top: 18px;
    
    .pagination {
	padding-top: 45px;
    }
}
.search_item {
    border-top: 1px solid #e6e7e9;
    padding-top: 15px;
    padding-bottom: 10px;
    margin-bottom: 5px;
    
    h3 {
	font-size: 35px;
	
	a {
	    color: $color_h;
	}
    }
    
    .orange {
	background-color: #fb9802;
	padding-left: 3px;
        padding-right: 3px;
        color: #000; 
    }
    
    p {
	margin-bottom: 5px;
    }
    
    .bread_crumbs {
	padding-top: 0px;
	font-size: inherit;
	margin-bottom: 20px;
	
	a:last-child {
	    &:after {
		display: none;
	    }
	}
    }
}



@media screen and (max-width: 1600px) {
    
}

@media screen and (max-width: 1300px) /*and (min-width: 1000px)*/ {
    .galery {
	width: 465px;
	
	.main_img {
	    margin-bottom: 10px;
	    float: none;
	}
	.small_images {
	    float: none;
	    width: 465px;
	    
	    .slick-list {
		margin: 0px -5px;
	    }
	}
	
	.img_small {
	    height: 178px;
	    margin: 0 5px;
	}
    }
}
@media screen and (max-width: 1020px) {
    main {
	margin-top: 80px;
	padding-bottom: 30px;
    }
    .galery {
	width: 350px;
	
	.main_img {
	    height: 250px;
	    width: 350px;
	}
	.small_images {
	    width: 350px;
	}
	
	.img_small {
	    height: 170px;
	}
    }
    .block404 {
	background-position: center 63px;
	
	.in {
	    padding-top: 140px;
	    padding-bottom: 10px;
	}
	
    }
}


@media screen and (max-width: 800px) {
    .block404 {
	background-position: center 53px;
	
	.in {
	    padding-top: 140px;
	    padding-bottom: 10px;
	}
	
	.img404 {
	    font-size: 200px;
	    line-height: 90%;
	    width: 400px;
	    margin-left: auto;
	    margin-right: auto;
	}
	
	p {
	    font-size: 30px;
	}
	
	
    }
    
}

@media screen and (max-width: 700px) {
    .galery {
	float: none;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 60px;
    }
    
    .text table {
	    overflow: auto;
	
	td, th {
	    padding: 7px 15px 7px;
	    
	}
    }
    
}

@media screen and (max-width: 600px) {
    .left, .right {
	width: 100%;
	max-width: 100%;
	float: none;
	margin: 0 0 60px;
    }
    .galery {
	
	.main_img {
	    height: 250px;
	}
	
	.img_small {
	    height: 120px;
	}
    }
    
    .block404 {
	background-position: center 28px;
	
	.in {
	    padding-top: 100px;
	    padding-bottom: 0px;
	}
	
	.img404 {
	    font-size: 150px;
	    line-height: 90%;
	    width: 350px;
	}
	
	p {
	    font-size: 27px;
	}
    }
}

@media screen and (max-width: 450px) {
    main {
	margin-top: 60px;
	padding-bottom: 30px;
    }
    .galery {
	width: 280px;
	
	.main_img {
	    height: 200px;
	    width: 280px;
	}
	.small_images {
	    width: 280px;
	}
    }
    
    .block404 {
	background-position: center 28px;
	
	.in {
	    padding-top: 100px;
	    padding-bottom: 0px;
	}
	
	.img404 {
	    font-size: 100px;
	    line-height: 90%;
	    width: 280px;
	}
	
	p {
	    font-size: 24px;
	}
    }
}

/* end content styles */