/* start footer styles */

#pre_foo {
    display: table-row;
    height: 100%;
}

#index {
    footer {
        border-top: 0;
    }
}


footer {
    width: 100%;
    bottom: 0;
    left: 0;
    position: relative;
    display: block;
    background: #2d7bbd url(images/footer.jpg) center top no-repeat;
    background-size: auto;
    box-sizing: border-box;
    //border-top: 1px solid #b7d8ff;
    position: relative;
    clear: both;
    
    &:after {
	content: '';
	position: absolute;
	display: block;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
        background: #2d7bbd url(images/footer_bg.jpg) no-repeat center top / auto 100%;
    }

    
    .in { 
        padding: 38px 20px 15px;
        font-size: 14px;
        line-height: 145%;
	font-weight: 400;
	color: #fff;
	z-index: 1;
        
        &:after { 
            @include clear();
        }
        
    }
    
    .h5 {
	color: #fff;
	margin-bottom: 12px;
	letter-spacing: 1px;
    }
    
    a {
	color: #fff;
	//@include transition(color);
	&:hover {
	    text-decoration: underline;
        }
    }
    
    .foo_left {
	float: left;
	width: 365/1560*100%;
	box-sizing: border-box;
	padding-right: 60px;
	padding-bottom: 7px;
	//min-height: 230px;
        
        p {
            margin-bottom: 15px;
        }
    }
    
    #foo_logo {
        margin-bottom: 15px;
	margin-top: 5px;
    }
    
    
    .foo_right {
	float: right;
	width: 670/1560*100%;
	margin-left: 20px;
    }
    
    .foo_cont {
	margin-bottom: 17px;
	
	&:last-child {
	    margin-bottom: 0;
	}
	.cont {
	    display: inline-block;
	    vertical-align: top;
	    width: 30%;
	    margin-bottom: 15px;
	    
	    &:before {
		content: '';
		display: inline-block;
		vertical-align: middle;
		width: 37px;
		height: 37px;
		border: 1px solid #fff;
		border-radius: 7px;
		margin-right: 5px;
		background: url(images/icon_address.png) no-repeat center;
	    }
	    
	    p, a, span {
		display: inline-block;
		vertical-align: middle;
		max-width: calc(100% - 50px);
		margin-bottom: 0;
	    }
	}
	
	.address {
	    width: 37%;
	}
    
	.tel {
	    &:before {
		background-image: url(images/icon_tel.png)
	    }
	}
	.email {
	    &:before {
		background-image: url(images/icon_email.png)
	    }
	}
    }
    
    
    .foo_menu {
	display: inline-block;
	vertical-align: top;
	width: 13%;
        position: relative;
	
        a {
            display: inline-block;
	    //text-decoration: none;
	    border-bottom: 1px solid transparent;
        }
	
	>ul {
	    padding-top: 29px;
	    
	    li {
		margin: 0 0 11px;
		
	    }
	}
	
	&.foo_main_menu {
	    width: 19%;
	    ul {
		column-count: 2;
		column-gap: 0px;
	    }
	}
	
    }
    
    .foo_bottom {
	clear: both;
	border-top: 1px solid rgba(255, 255, 255, 0.4);
	padding-top: 16px;
    }
    
    #copy {
        float: left;
	clear: both;
	padding-top: 5px;
    }
    
    #dev {
        float: right;
	padding-right: 25px;
    }
    .social {
	margin-bottom: 15px;
    }
    .social a {
	position: relative;
	display: inline-block;
	margin: 0 8px 0 5px;
	
	img {
	    position: relative;
	    @include transition(opacity);
	    opacity: 0.6;
	}
	
	&:hover {
	    img {
		opacity: 1;
	    }
	}
    }
}


@media screen and (max-width: 1600px) {
    footer {
	.foo_left {
	    width: 365/1560*100%;
	    padding-right: 20px;
	}
	.foo_right {
	    width: 620/1560*100%;
	    margin-left: 0px;
	}
	.foo_cont {
	    margin-bottom: 0px;
	    display: inline-block;
	    vertical-align: top;
	    width: 53%;
	    
	    &:last-child {
		width: 46%;
	    }
	    .cont {
		width: 100%;
		max-width: 250px;
	    }
	    
	    .address {
		width: 100%;
	    }
	}
	
	.foo_menu {
	    width: 15%;
	    
	    &.foo_main_menu {
		width: 21%;
	    }
	    
	}
    }
}
@media screen and (max-width: 1300px) {
    footer {
	.foo_left {
	    width: 400/1560*100%;
	    padding-right: 20px;
	    margin-right: 0px;
	}
	.foo_right {
	    width: 760/1560*100%;
	    margin-left: 0px;
	}
        .foo_menu {
	    display: none;
	    
	    &.foo_main_menu {
		width: auto;
		display: block;
	    }
	    
	}
    }
}
@media screen and (max-width: 1000px) {
    footer {
	.foo_left {
	    width: 260px;
	    padding-right: 0;
	    
	    p{
		display: none;
	    }
	}
	#foo_logo {
	    float: left;
	    margin-right: 20px;
	    margin-top: -5px;
	    
	    img {
		height: 35px;
	    }
	}
	.social {
	    padding-top: 0px;
	}
	.foo_right {
	    width: 1000/1560*100%;
	    margin-left: 0px;
	}
	.foo_middle {
	    clear: left;
	}
        .foo_menu {
	    display: none;
	    
	    .h5 {
		display: none;
	    }
	    
	    ul {
		padding-top: 0;
	    }
	    
	    &.foo_main_menu {
		width: auto;
		display: block;
	    }
	    
	}
	
    }
}
@media screen and (max-width: 800px) {
    footer {
        .foo_right {
	    width: 600/1560*100%;
	    margin-left: 0px;
	}
        .foo_cont {
	    width: auto;
	    &:first-child {
		display: none;
	    }
	    &:last-child {
		width: auto;
	    }
	}
    }
}
@media screen and (max-width: 600px) {
    footer {
	.in { 
	    font-size: 12px;
	    line-height: 145%;
	}
	.foo_left {
	    width: 180px;
	}
	#foo_logo {
	    float: none;
	}
	.foo_right {
	    width: 750/1560*100%;
	}
        .foo_cont {
	    .cont {
		&:before {
		    width: 27px;
		    height: 27px;
		    border-radius: 5px;
		}
	    }
	}
	
	.foo_bottom {
	    text-align: center
	}
    
	#copy {
	    float: none;
	    padding-top: 0px;
	    margin-bottom: 15px;
	}
	
	#dev {
	    float: none;
	    padding-right: 0px;
	}
    }
}
@media screen and (max-width: 450px) {
    footer {
	.foo_left {
	    width: auto;
	    text-align: center;
	    float: none;
	}
	#foo_logo {
	    float: none;
	}
	.foo_right {
	    width: auto;
	    float: none;
	    text-align: center;
	}
	 .foo_cont {
	    .cont {
		width: 190px;
		text-align: left;
		margin-left: 20px;
		margin-right: 0px;
	    }
	}
        .foo_menu {
	    &.foo_main_menu {
		display: none;
	    }
	    
	}
    }
}

/* end footer styles */