/* start main slide styles */ 

#main_slide {
    overflow: hidden;
    z-index: 1;
    background: #0459d6 url(images/generator_bg.jpg) no-repeat center / cover right;
    padding-top: 150px;
    @include transition(all);
    
    .in {
	padding: 110px 20px;
	@include transition_slow(all);
    }
    
    
    .text {
	width: 50%;
	color: #fff;
	min-width: 670px;
	@include transition_slow(all);
	
	.button {
	    float: left; 
	    margin-left: 0;
	    
	    .arr {
		padding-left: 6px;
	    }
	}
    }
    
    .h1 {
	text-align: left;
	font-size: 77px;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	color: #fff;
	margin-bottom: 7px;
	@include transition_slow(all);
    }
    p {
	font-size: 18px;
	line-height: 162%;
	letter-spacing: 0.5px;
	margin-bottom: 25px;
	max-width: 570px;
    }
     

}

@media screen and (max-width: 1600px) {

}

@media screen and (max-width: 1300px) {

}
@media screen and (max-width: 999px) {

}

@media screen and (max-width: 800px) {

}
@media screen and (max-width: 700px) {
 
}
@media screen and (max-width: 600px) {

}

@media screen and (max-width: 500px) {

}
@media screen and (max-width: 400px) {

}

/* end main slider styles */