/* start main slide styles */

#main_slide {
    overflow: hidden;
    z-index: 1;
    //background: #0459d6 url(images/slide_bg.jpg) no-repeat center / cover;
    padding-top: 150px;
    @include transition(all);
    
    .in {
	padding: 135px 20px;
	@include transition(all);
    }
    
    .text {
	width: 50%;
	color: #fff;
	min-width: 670px;
	@include transition(all);
    }
    
    .h1 {
	text-align: left;
	font-size: 60px;
	text-transform: none;
	letter-spacing: 1.5px;
	color: #fff;
	@include transition(all);
    }
    p {
	font-size: 16px;
	line-height: 162%;
	letter-spacing: 0.5px;
	margin-bottom: 25px;
	max-width: 670px;
    }
     

}

@media screen and (max-width: 1600px) {

}

@media screen and (max-width: 1300px) {

}
@media screen and (max-width: 999px) {

}

@media screen and (max-width: 800px) {

}
@media screen and (max-width: 700px) {
 
}
@media screen and (max-width: 600px) {

}

@media screen and (max-width: 500px) {

}
@media screen and (max-width: 400px) {

}

/* end main slider styles */