/* start main slide styles */ 

#main_slide {
    overflow: hidden;
    z-index: 1;
    background: #0459d6 url(images/generator_bg.jpg) no-repeat top ;
    padding-top: 150px;
    @include transition_slow(all);
	margin-bottom: 85px;
    
    .in {
	padding: 110px 20px;
	@include transition_slow(all);
    }
    
    
    .text {
	width: 50%;
	color: #fff;
	min-width: 670px;
	@include transition_slow(all);
	margin-bottom: 314px;	
		.button
		{
			float: left; 
			margin-left: 0;
		}
		
    }
	.arr{padding-left: 6px;display: inline-block;}	
	ol{counter-reset: li;
			li{list-style: none;
			display: inline-block;
			font-family: "Roboto Medium";	
			color: #000;	
			margin-right: 22px;
			font-size: 18px;
			font-weight: 500;	
position: relative;
			margin-left: 14px;
			max-width: 13%;
				&:before{
				margin-bottom: 22px;	
				display: block;
				margin-top: -17px;
				counter-increment: li;
				content: counter(li);	
				font-family: "Roboto Black";
				color:  #6493b8;	
				font-size: 62px;
				font-weight: bold;
				}
				&:after{
					content: '';
					display: block;
					background-color: #6291b8;
					width: 124px;
					height: 2px;
					margin-left: 71px;
					margin-top: -93px;
					
				}
			}
		}
	ol > li:nth-child(-n+9)::before { /* 1 - 9 */
    content: "0" counter(li); /* becomes 01 - 09 */
}
    
    .h1 {
	text-align: left;
	font-size: 77px;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	color: #fff;
	margin-bottom: 7px;
	@include transition_slow(all);
    }
    p {
	font-size: 18px;
	line-height: 162%;
	letter-spacing: 0.5px;
	margin-bottom: 25px;
	max-width: 570px;
    }
     

}

@media screen and (max-width: 1600px) {

}

@media screen and (max-width: 1300px) {

}
@media screen and (max-width: 999px) {

}

@media screen and (max-width: 800px) {

}
@media screen and (max-width: 700px) {
 
}
@media screen and (max-width: 600px) {

}

@media screen and (max-width: 500px) {

}
@media screen and (max-width: 400px) {

}

/* end main slider styles */