#series {
	z-index: 1;
	background: #fff; //url(images/series.jpg) no-repeat top;
	
	.in { 
		padding-top: 93px;
		padding-bottom: 96px;
	}
	.h1{
		text-align: center;
		margin-bottom: 35px;
	}
	.button_block{text-align: center;
	.button{
		.arr{transform: rotate(-1500grad);}
		float: none;
	}
	}
}
.series{
	margin-bottom: 50px;
	
	&:after {
		@include clear();
	}
	.series_item{
		float: left;	
		border: 1px solid transparent;
		box-sizing: border-box;
		//border-right: 1px solid #e5e5e5;
		width: 20%;
		height: 313px;	
		vertical-align: top;
		text-align: center;
		position: relative;
		
		&:after {
			content: '';
			position: absolute;
			height: 80%;
			right: 0;
			top: 10%;
			border-right: 1px solid #e5e5e5;
		}
		&:last-child:after {
			display: none;
		}
		
		&:hover{
			border-color:  #19224d;
			box-shadow: 0px 0px 6px 0px rgba(238,238,238,0.75);
			border-right: 1px solid  #19224d;
			&:after {
				display: none;
			}
		}
		
		a {
			display: block;
			height: 100%;
			padding-top: 15px;
			text-decoration: none;
		}
		.img{
			display: block;
			width: 100%;
			height: 200px;
			line-height: 200px;
			margin-bottom: 10px;
			
			img {
				max-width: 85%;
				vertical-align: middle;
				
			}
		}
		.h3 {
			display: block;
			padding: 0 55/312*100%;
		}
	}
}



@media advantages and (max-width: 1600px) {
    
}

@media screen and (max-width: 1300px){
    #series {
	.in { 
		padding-top: 80px;
		padding-bottom: 80px;
	}
    }
    .series{
	
	.series_item{
		height: 313px;	
		.h3 {
			padding: 0 15/312*100%;
		}
	}
  }
}
@media screen and (max-width: 1000px) {
    #series {
	.in { 
		padding-top: 60px;
		padding-bottom: 60px;
	}
    }
    .series{
	margin-left: -15px;
	margin-right: -15px;
	
	.series_item{
		height: 290px;	
		.img{
			height: 180px;
			line-height: 180px;
		}
		a {
			padding-top: 0;
		}
	}
    }
}


@media screen and (max-width: 800px) {
    .series{
	margin-left: -10px;
	margin-right: -10px;
	margin-bottom: 30px;
	
	.series_item{
		height: 290px;
		margin-bottom: 20px;
		width: 33%;	
	}
    }
}

@media screen and (max-width: 600px) {
	#series {
	.in { 
		padding-top: 40px;
		padding-bottom: 40px;
	}
    }
}

@media screen and (max-width: 450px) {
    
    .series{
	margin-bottom: 10px;
	
	.series_item{
		height: 270px;
		width: 50%;
		margin-bottom: 5px;
	}
    }
}
@media screen and (max-width: 350px) {
    
    .series{
	
	.series_item{
		height: 240px;
		.img{
			height: 150px;
			line-height: 150px;
		}
	}
    }
}