#service{
	.container_service{
		.main_service_blocks{
			display: inline-block;
			width: 50%;
			padding-bottom: 84px;
			.blur_block{
				background-color: #fff;
			opacity: 0.75;
			text-align: center;
			margin-left: auto;
			margin-right: auto;
			width: 67.7%;
			margin-top: 98px;
			padding-bottom: 59px;	
				.button{
					float: none;
					margin-left: 0;
					margin-top: 0;
					color: black;
					background-color: transparent;
					border: 1px solid;
					border-color: black;
					&:hover{
						color: #fff;
						background-color: #1992d1;
					}
				}	
				h3{
					padding-top: 53px;
					font-size: 34px;
					letter-spacing: 1.7px;
					text-align: center;
					margin-left: 21px;

				}
				p{
					font-weight: 300;
				}
			}
		}
	}
	
	.main_service_blocks:nth-child(1){
		background-image: url(images/service_second_img1.jpg);
		background-size: 100%;
		float: left;
		background-repeat: no-repeat;
	}
	.main_service_blocks:nth-child(2){
		background-image: url(images/service_second_img2.jpg);
		background-size: 100%;
		background-repeat: no-repeat;
	}
	
	
	
	
}
.arr{
	padding-left: 6px;
}