/* start clients styles */

#use {
    overflow: hidden;
    z-index: 2;
    background: #fff;
    .in {
	padding: 91px 20px 85px;
    }
    
    .h1 {
	float: left;
	margin-right: 45px;
    }
    
    .button {
	float: right;
	margin-top: -5px;
    }
    
}
    .use {
	padding: 40px 0px;
	margin-right: -30px;
	
	.slide_block:after {
	    @include clear();
	}
	
	.item {
	    width: 325px;
	    height: 240px;
	    background: $color_a no-repeat center / cover;
	    margin-right: 30px;
	    margin-bottom: 30px;
	    float:  left;
	    
	    a {
		display: block;
		width: 100%;
		height: 100%;
		position: relative;
		color: #fff;
		
		&:hover span {
		    text-decoration: underline;
		}
		
		span {
		    position: absolute;
		    width: 100%;
		    bottom: 0px;
		    padding: 15px;
		    left: 0;
		    box-sizing: border-box;
		}
	    }
	    
	    &:nth-child(1), &:nth-child(4) {
		width: calc(22% - 30px);
		height: 510px;
	    }
	    &:nth-child(4) {
		float: right;
		//margin-right: 0;
	    }
	    &:nth-child(2), &:nth-child(6) {
		width: calc(32% - 30px);
	    }
	    &:nth-child(3), &:nth-child(5) {
		width: calc(24% - 30px);
	    }
	}
    }
    

//@media screen and (max-width: 1600px) {
    
//}

@media screen and (max-width: 1300px){
    #use {
	.in {
	    padding: 50px 20px 80px;
	}
    }
    .use {
	margin-right: -20px;
	.item {
	    width: 325px;
	    height: 210px;
	    margin-right: 20px;
	    margin-bottom: 20px;
	    
	    &:nth-child(1), &:nth-child(4) {
		width: calc(22% - 20px);
		height: 440px;
	    }
	    &:nth-child(2), &:nth-child(6) {
		width: calc(32% - 20px);
	    }
	    &:nth-child(3), &:nth-child(5) {
		width: calc(24% - 20px);
	    }
	}
    }
}
@media screen and (max-width: 1000px) {
    #use {
	.in {
	    padding: 50px 20px 20px;
	}
    }
    .use {
	.item {
	    &:nth-child(1), &:nth-child(4) {
		width: calc(50% - 20px);
		height: 440px;
	    }
	    &:nth-child(2), &:nth-child(6) {
		width: calc(50% - 20px);
	    }
	    &:nth-child(3), &:nth-child(5) {
		width: calc(50% - 20px);
	    }
	}
    }
}
@media screen and (max-width: 800px) {
    
}

@media screen and (max-width: 600px) {
    #use {
	.in {
	    padding: 50px 20px 40px;
	}
	
	.slick_slider_arrows {
	    clear: both;
	    text-align: center;
	}
	.button {
	    margin-top: -2px;
	}
	
    }
    .use {
	padding: 20px 0px;
	margin-right: -15px;
	.item {
	    height: 180px;
	    margin-right: 15px;
	    margin-bottom: 15px;
	    &:nth-child(1), &:nth-child(4) {
		width: calc(50% - 15px);
		height: 375px;
	    }
	    &:nth-child(2), &:nth-child(6) {
		width: calc(50% - 15px);
	    }
	    &:nth-child(3), &:nth-child(5) {
		width: calc(50% - 15px);
	    }
	}
    }
}

@media screen and (max-width: 450px) {
    #use {
	.in {
	    padding: 40px 20px 20px;
	    text-align: center;
	}
	
	.h1 {
	    float: none;
	    margin-right: 0;
	}
	.button {
	    float: none;
	    margin-bottom: 20px;
	}
	
    }
    .use {
	margin-right: 0;
	.item {
	    height: 150px;
	    margin-right: 0px;
	    margin-bottom: 15px;
	    float: none;
	    text-align: left;
	    &:nth-child(1), &:nth-child(4) {
		width: 100%;
		height: 150px;
		float: none;
	    }
	    &:nth-child(2), &:nth-child(6) {
		width: 100%;
	    }
	    &:nth-child(3), &:nth-child(5) {
		width: 100%;
	    }
	}
    }
}

/* end partners styles */