.products_images{
	float: left;
	width: 50%;
	position: relative;
	padding-top: 130px;
	padding-bottom: 90px;
	&:before{
		content: '';
		position: absolute;
		z-index: 0;
		width: 1000%;
		height: 100%;
		right: 0;
		top: 0;
	}

.main_img {
    height: 480px;
    line-height: 480px;
    background: no-repeat center / contain;
    margin-bottom: 20px;
    text-align: center;
    overflow: hidden;
    float: right;
    width: 71.15385%;
    margin-right: 8.33333%;
	.slick-list {
    margin: 0px;
    position: relative;
    width: 100%;
		height: 100%;}
}
	.small_images {
    float: left;
    width: 140px;
    height: 345px;
    position: relative;
    top: 50%;
		margin-top: 70px;}
}
.products_info {
    margin-left: calc(50% + 70px);
    margin-bottom: 121px;
	b{
		font-size: 24PX;
	}
	.b2{
		b{font-size: 16px;
			margin-right: 92px;
			display: inline-block;
			span{
				display: block;
				img{
					margin-right: 16px;
				}
			}
		}
	}
}
.products_info_more{
	background-color: #fafdff;
}
